.st0{fill-rule:evenodd;clip-rule:evenodd;fill:#A61C0A;}
.st1{fill-rule:evenodd;clip-rule:evenodd;fill:#942618;}
.st2{fill-rule:evenodd;clip-rule:evenodd;fill:#B32512;}
.st3{fill-rule:evenodd;clip-rule:evenodd;fill:#BF2E1B;}
.st4{fill-rule:evenodd;clip-rule:evenodd;fill:#F1B287;}
.st5{fill-rule:evenodd;clip-rule:evenodd;fill:#F5BC95;}
.st6{fill-rule:evenodd;clip-rule:evenodd;fill:#045789;}
.st7{fill-rule:evenodd;clip-rule:evenodd;fill:#0868A3;}
.st8{fill-rule:evenodd;clip-rule:evenodd;fill:#D93A25;}
.st9{fill-rule:evenodd;clip-rule:evenodd;fill:#04456E;}
.st10{fill-rule:evenodd;clip-rule:evenodd;fill:#A82614;}
.st11{fill-rule:evenodd;clip-rule:evenodd;fill:#FEE109;}
.st12{opacity:0.5;fill-rule:evenodd;clip-rule:evenodd;fill:#363130;}
.st13{fill-rule:evenodd;clip-rule:evenodd;fill:#D49166;}
.st14{fill-rule:evenodd;clip-rule:evenodd;fill:#E8A476;}
.st15{fill-rule:evenodd;clip-rule:evenodd;fill:#975B36;}
.st16{fill-rule:evenodd;clip-rule:evenodd;fill:#362613;}
.st17{opacity:0.2;fill-rule:evenodd;clip-rule:evenodd;fill:#4D423B;}
.st18{fill-rule:evenodd;clip-rule:evenodd;fill:#573E20;}
.st19{fill-rule:evenodd;clip-rule:evenodd;fill:#6E4E28;}
.st20{fill-rule:evenodd;clip-rule:evenodd;fill:#402E17;}
.st21{fill-rule:evenodd;clip-rule:evenodd;fill:#2E2110;}
.st22{fill-rule:evenodd;clip-rule:evenodd;fill:#8C683C;}
.st23{fill-rule:evenodd;clip-rule:evenodd;fill:#634726;}
.st24{fill-rule:evenodd;clip-rule:evenodd;fill:#2B1F0F;}
.st25{fill-rule:evenodd;clip-rule:evenodd;fill:#B08653;}
.st26{fill-rule:evenodd;clip-rule:evenodd;fill:#BF815A;}
.st27{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
.st28{fill-rule:evenodd;clip-rule:evenodd;fill:#EDA173;}
.st29{fill-rule:evenodd;clip-rule:evenodd;fill:#DE9060;}
.st30{fill-rule:evenodd;clip-rule:evenodd;fill:#F0B088;}
.st31{fill:#083677;stroke:#083677;stroke-miterlimit:10;}
.st32{fill:#083677;}
.st33{fill:#0868A3;}
.st34{fill:#04456E;}
.st35{fill:#082D59;}
.st36{fill:#0E2244;stroke:#F7F7F5;stroke-width:0.5;stroke-miterlimit:10;}
.st37{fill:#CAE086;}
.st38{fill:#E5626D;}
.st39{fill:#CF978F;}
.st40{fill:#9B6B68;}
.st41{fill:#CE8D82;}
.st42{fill:#E1BB85;}
.st43{fill:#A12C34;}
.st44{fill:#7E1921;}
.st45{fill:#CC9198;}
.st46{fill:#C5863A;}
.st47{fill:#BA3938;}
.st48{fill:#EDB169;}
.st49{clip-path:url(#SVGID_2_);}
.st50{fill-rule:evenodd;clip-rule:evenodd;fill:#5E2815;}
.st51{fill-rule:evenodd;clip-rule:evenodd;fill:#0A0001;}
.st52{fill-rule:evenodd;clip-rule:evenodd;fill:#7C4739;}
.st53{fill-rule:evenodd;clip-rule:evenodd;fill:#FEFEFE;}
.st54{fill-rule:evenodd;clip-rule:evenodd;fill:#936542;}
.st55{fill-rule:evenodd;clip-rule:evenodd;fill:#7D371E;}
.st56{clip-path:url(#SVGID_4_);}