body * {
	font-family: "coolveticaregular" !important;
}
body, .sections .si-mi-st-wrap {
	background-color: #2B292A;
}
.section-headline {
	margin: 15px 0 0 10px;
	color: #fff;
	font-size: 24px;
}
.sections .section {
	width: 33.333%;
	float: left;
}
.sections .best-box {
	margin: 0;
}
.sections .si-mi-st-wrap .si-mi-st-header {
	padding: 0;
	border: 0px;
	margin: 0px;
}

.sections .si-mi-st-wrap .si-mi-st-body .si-mi-st-tbl .si-mi-st-tr .si-mi-st-td.st-td-pts:before {
	border-bottom: 49px solid #2B292A;
}
.sections .si-mi-st-wrap .si-mi-st-header .si-st-heading {
	font-size: 18px;
	height: 28px;
	line-height: 100%;
	padding: 3px 6px;
	text-transform: uppercase;
	margin: 0 10px 10px 10px;
}
.sections .si-mi-st-wrap .si-mi-st-header .si-st-heading span::after {
	display: none;
}
.sections .si-mi-st-wrap .si-mi-st-body .si-mi-st-tbl .si-mi-st-tr .si-mi-st-td {
	padding: 9px 10px;
}

.sections .si-standings-container.si-ipl-t20-standings.si-mi-st-wrap.si-widget{
	padding-top:10px;
}

@media (max-width: 767px) {
.sections .section {
	width: 100%;
	float: none;
}
}
