@charset "utf-8";

.si-mi-st-wrap .si-mi-st-header{
	padding:0;
	border:0px;
}

.si-mi-st-wrap .si-mi-st-header .si-st-heading{
	font-size:26px;
	height: 34px;
	line-height: 100%;
	padding: 4px 8px 4px 6px;
}

.si-mi-st-wrap .si-mi-st-header .si-st-heading span{
	display: block;
	line-height: 100%;
}

.si-mi-st-wrap .si-mi-st-header:before{display: none;}

.si-mi-st-wrap .si-mi-st-header .si-st-heading span::after {
	background-color: #333;
	content: "";
	height: 15px;
	width: 15px;
	position: absolute;
	right: -9px;
	top: -9px;
	z-index: 2;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}

.si-mi-st-wrap .si-mi-st-body .si-mi-st-tbl .si-mi-st-tr .si-mi-st-td{
	font-size: 16px;
}