.st0	{clip-path:url(#SVGID_2_);}
.st1	{fill:#DCB984;}
.st2	{clip-path:url(#SVGID_4_);}
.st3	{fill:#7B3C26;}
.st4	{fill:#EADBBB;}
.st5	{fill:#763A1E;}
.st6	{clip-path:url(#SVGID_6_);}
.st7	{fill:#965D37;}
.st8	{fill:#FFFF02;}
.st9	{clip-path:url(#SVGID_8_);}
.st10	{clip-path:url(#SVGID_10_);}
.st11	{fill:#EEDFC3;}
.st12	{clip-path:url(#SVGID_12_);fill:#B98861;}
.st13	{clip-path:url(#SVGID_14_);}
.st14	{fill:#AB6C38;}
.st15	{clip-path:url(#SVGID_16_);}
.st16	{clip-path:url(#SVGID_18_);}
.st17	{fill:#FFFD38;}
.st18	{clip-path:url(#SVGID_20_);}
.st19	{clip-path:url(#SVGID_22_);}
.st20	{clip-path:url(#SVGID_24_);}
.st21	{fill:#FFFC38;}
.st22	{clip-path:url(#SVGID_26_);}
.st23	{clip-path:url(#SVGID_28_);}
.st24	{clip-path:url(#SVGID_30_);}
.st25	{clip-path:url(#SVGID_32_);}
.st26	{clip-path:url(#SVGID_34_);}
.st27	{clip-path:url(#SVGID_36_);}
.st28	{fill:#B98861;}
.st29	{fill:#773A1A;}