body {
    font-size: 16px;
    font-weight: 400;
    text-rendering: auto;
    color: #3c3c3c;
    background-color: #f7f7f7;
    font-family: 'Oswald', sans-serif;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.main-wrap {
    margin: 0 auto;
    max-width:1024px;
    position: relative;
}

.main-wrap--background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    /*background-image: url(../images/main-bg.jpg);*/
    background-repeat: no-repeat;
    background-size: 100%;
}
.main-wrap--svg {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.main-wrap--svg svg {
    margin-top: -20.9%;
}
.main-wrap--svg-logo {
    position: absolute;
    top: 1.094570928196147%;
    right: 0;
    bottom: 0;
    left: 47.8515625%;
    width: 100%;
    z-index: 1;
    width: 14.35546875%;
    height: 8.537653239929947%;
}
/* Circle Animation */
.circle {
    cursor: pointer;
    -webkit-animation: rotation 11s infinite linear;
    -moz-animation: rotation 11s infinite linear;
    -o-animation: rotation 11s infinite linear;
    animation: rotation 11s infinite linear;
    transform-origin:50% 50%;
}
/*@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}*/
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate3d(0,0,1,0deg);
        transform: rotate3d(0,0,1,0deg);
    }
    to {
        -webkit-transform: rotate3d(0,0,1,359deg);
        transform: rotate3d(0,0,1,359deg);
    }
}
@keyframes rotation {
    from {
        -webkit-transform: rotate3d(0,0,1,0deg);
        transform: rotate3d(0,0,1,0deg);
    }
    to {
        -webkit-transform: rotate3d(0,0,1,359deg);
        transform: rotate3d(0,0,1,359deg);
    }
}

.zoomEffects {
    transition: 0.4s all ease-in-out;
    transform: scale3d(1,1,1);
    transform-origin: 50% 50%;
}
.zoomEffects.loop {
    -webkit-animation: zoom 1s infinite linear;
    -moz-animation: zoom 1s infinite linear;
    -o-animation: zoom 1s infinite linear;
    animation: zoom 1s infinite linear;
}

@-webkit-keyframes zoom {
    0% {
        transform: scale3d(1,1,1);
    }
    50% {
        transform: scale3d(1.1,1.1,1);
    }
    100% {
        transform: scale3d(1,1,1);   
    }
}
@keyframes zoom {
    0% {
        transform: scale3d(1,1,1);
    }
    50% {
        transform: scale3d(1.1,1.1,1);
    }
    100% {
        transform: scale3d(1,1,1);   
    }
}

/* Buzz */

@-webkit-keyframes hvr-buzz {
  0% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  50% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  100% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
}

@keyframes hvr-buzz {
  0% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  50% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  100% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
}
.hvr-buzz {
    transform-origin: 50% 50%;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;

    -webkit-animation-name: hvr-buzz;
    animation-name: hvr-buzz;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

/* Bob Effects */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}

/* Circle Hide */
#jama_masjid,
#jama_masjid_close,

#Chanderi_sari,
#chanderi_sari_close,

#a_centre_of_jainism,
#a_centre_of_close,

#chanderi_fort,
#chanderi_fort_close,

#a_city_of,
#a_city_of_close {
    cursor: pointer;
}
@media only screen and (min-width: 1025px) {
    #jama_masjid_text,
    #jama_masjid_close,

    #chanderi_sari_text,
    #chanderi_sari_close,

    #a_centre_of_text,
    #a_centre_of_close,

    #chanderi_fort_text,
    #chanderi_fort_close,

    #a_city_of_text,
    #a_city_of_close {
        transform: scale3d(0,0,1);
    }

    #jama_masjid_text.circleEffect,
    #jama_masjid_close.circleEffect,

    #chanderi_sari_text.circleEffect,
    #chanderi_sari_close.circleEffect,

    #a_centre_of_text.circleEffect,
    #a_centre_of_close.circleEffect,

    #chanderi_fort_text.circleEffect,
    #chanderi_fort_close.circleEffect,

    #a_city_of_text.circleEffect,
    #a_city_of_close.circleEffect {
        transform-origin: 50% 50%;
        animation: circleEffect 0.15s;
        animation-fill-mode: forwards;
    }
    @keyframes circleEffect {
        0% {
            transform: scale3d(0.9,0.9,1);
        }
        90% {
            transform: scale3d(1.05,1.05,1);
        }
        100% {
            transform: scale3d(1,1,1);
        }
    }

}

#jama_masjid .cls-17,
#jama_masjid .cls-45,

#Chanderi_sari .cls-17,
#Chanderi_sari .cls-45,

#a_centre_of_jainism .cls-17,
#a_centre_of_jainism .cls-45,

#chanderi_fort .cls-17,
#chanderi_fort .cls-45,

#a_city_of .cls-17,
#a_city_of .cls-45 {
    transition: 0.3s all ease-in-out;
}



#jama_masjid:hover .cls-17,
#jama_masjid:hover .cls-45 {
    fill: #009e68;
}
#Chanderi_sari:hover .cls-17,
#Chanderi_sari:hover .cls-45 {
    fill: #f06c44;
}
#a_centre_of_jainism:hover .cls-17,
#a_centre_of_jainism:hover .cls-45 {
    fill: #face78;
}
#chanderi_fort:hover .cls-17,
#chanderi_fort:hover .cls-45 {
    fill: #e3484b;
}
#a_city_of:hover .cls-17,
#a_city_of:hover .cls-45 {
    fill: #2dc1de;
}




@-webkit-keyframes hover-horiz-child {
  0% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
  50% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
  100% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes hover-horiz-child {
  0% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
  50% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
  100% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@-webkit-keyframes hover-horiz-child-float {
  100% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes hover-horiz-child-float {
  100% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
.hover-horiz-child {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-animation-name: hover-horiz-child-float, hover-horiz-child;
    animation-name: hover-horiz-child-float, hover-horiz-child;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}


@media only screen and (max-width: 1024px) {
    #jama_masjid_text,
    #jama_masjid_close,

    #chanderi_sari_text,
    #chanderi_sari_close,

    #a_centre_of_text,
    #a_centre_of_close,

    #chanderi_fort_text,
    #chanderi_fort_close,

    #a_city_of_text,
    #a_city_of_close {
        display: none;
    }

}