
.cls-1 {
    fill: none;
}
.cls-55 {
    fill: #000;
}
svg{
	fill: #FBCE54;
}

.cls-2 {
    isolation: isolate;
}

.cls-3 {
    fill: #d03d3b;
}

.cls-4 {
    fill: #003551;
}

.cls-5 {
    fill: #fe6e24;
}

.cls-6,
.cls-7 {
    fill: #ea4132;
}

.cls-45,
.cls-7 {
    opacity: 0;
}

.cls-8 {
    fill: #fbce54;
}

.cls-9 {
    clip-path: url(#clip-path);
}

.cls-10 {
    fill: #00c2de;
}

.cls-11 {
    fill: #e94132;
}

.cls-12 {
    fill: #fbce53;
}

.cls-13 {
    fill: #fd6e24;
}

.cls-14 {
    clip-path: url(#clip-path-3);
}

.cls-15 {
    fill: #e9413c;
}

.cls-16 {
    fill: #fbd16c;
}

.cls-17,
.cls-45 {
    fill: #fff;
}

.cls-18 {
    fill: #684f4c;
}

.cls-19 {
    clip-path: url(#clip-path-5);
}

.cls-20 {
    fill: #193f57;
}

.cls-21 {
    clip-path: url(#clip-path-6);
}

.cls-22 {
    clip-path: url(#clip-path-7);
}

.cls-23 {
    fill: #d14d41;
}

.cls-24 {
    clip-path: url(#clip-path-8);
}

.cls-25 {
    fill: #fff;
}

.cls-26 {
/*    mix-blend-mode: multiply;*/
}

.cls-27 {
    clip-path: url(#clip-path-9);
}

.cls-28 {
    fill: #866662;
}

.cls-29 {
    fill: #fabc8b;
}

.cls-30 {
    mix-blend-mode: overlay;
}

.cls-31 {
    clip-path: url(#clip-path-10);
}

.cls-32 {
    fill: #ffeaae;
}

.cls-33 {
    fill: #ecdfd5;
}

.cls-34 {
    fill: #856764;
}

.cls-35 {
    fill: #e3484b;
}

.cls-36 {
    fill: #f06c44;
}

.cls-37 {
    clip-path: url(#clip-path-11);
}

.cls-38 {
    fill: #193F57;
}

.cls-39 {
    clip-path: url(#clip-path-12);
}

.cls-40 {
    fill: #193F57;
}

.cls-41 {
    fill: #2dc1de;
}

.cls-42 {
    fill: #e44546;
}

.cls-43 {
    fill: #2e201e;
}

.cls-44 {
    fill: #009e68;
}

.cls-46 {
    fill: #face78;
}

.cls-47 {
    clip-path: url(#clip-path-14);
}

.cls-48 {
    fill: #229e6a;
}

.cls-49 {
    fill: #003551;
}

.cls-50 {
    fill: #FBCE54;
}

.cls-51 {
    fill: #d14d41;
}

.cls-52{
	fill:#884BE0;
}

.cls-53{
	fill:#49E266;
}

.st24 {
	fill:#fff;
}
.bg-color {
	fill: #634d45;
}
.cls-16.border-color {
	fill: #feeecc;
}


