.container {
	width: 1000px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
}

@media (max-width: 1199px) {
.container {
	width: 980px;
}
}

@media (max-width: 991px) {
.container {
	width: 720px;
}
}

@media (max-width: 767px) {
.container {
	width: 540px;
}
}

@media (max-width: 575px) {
.container {
	padding-left: 15px;
	padding-right: 15px;
}
}


@media (max-width: 991px) {

	.top-wrapper .container {
	height: auto;
}
.side-container {
	max-width: 100%;
}
.mid-container {
	position: relative;
	top: inherit;
	right: inherit;
	bottom: inherit;
	margin: 20px auto;
}
.top-container h1 br {
	display: none;
}
.top-container h1, .bottom-container {
	text-align: center;
}
	
	.blockquote-container blockquote {
	padding: 30px 0 50px;
}
.top-container h1 {
	margin-top: 40px;
}
.top-container h1 br {
	display: block;
}
	
.bottom-container .counter {
  font-size: 50px;
}
	
	.hammer-big{
		position:static;
		text-align: center;
	}
	.hammer-big img{
		width:  80px;
	}
	
	.footer-wrapper{
		position: inherit;
	}

}


@media (max-width: 320px) {
	.mid-container{
	margin-left: -15px;
		margin-right: -15px;
		
	}
}





@media(max-width : 768px) {
.social {
	position: fixed;
	top: 15px;
	right: 15px;
	width: 30px;
	z-index: 9999;
	display: block;
}
.social-back {
	width: 30px;
	height: 30px;
	margin-bottom: 8px;
	cursor: pointer;
}
.social-icons .facebook, .social-icons .twitter, .social-icons .copyright {
	width: 30px;
	height: 30px;
	margin-bottom: 8px;
}
}
