@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
body {
	font-family: "Roboto", sans-serif;
	background-color: #fffdfd;
	font-size: 16px;
	font-weight: 400;
	color: #000;
	overflow-x: hidden;
	background: #e5ddd5 url("../images/whatsapp-bg.png") repeat scroll 0 0 / 366.5px 666px;
}


/*Footer*/
.footer-wrapper {
	position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
	height: 35px;
	background-color: #000;
	text-align: center;
	font-size: 12px;
	line-height: 35px;
	z-index: 10;
	padding: 0px 5%;
}
.footer-wrapper a {
	color: #fff;
}
.copy {
	float: left;
}
.credits {
	float: right;
	cursor: pointer;
	color: #fff;
}
.creditsModal {
	padding: 20px;
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 99999;
	top: 0;
	left: 0;
	text-align: center;
	display: none;
}
.modal-content {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	position: relative;
	font-size: 14px;
	color: #fff;
}
.modal-content span {
	display: block;
	padding: 4px 0px
}
.modalClose {
	display: inline-block;
	;
	font-size: 30px;
	position: absolute;
	top: 20px;
	right: 20px;
	color: #fff;
}

@media (max-width: 991px) {
	.footer-wrapper{
		position: inherit;
	}
}

