@charset "utf-8";
*, *:after, *:before {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	outline: none !important;
}

body
{
	background: url(../img/pattern-bg.png) #f12858 repeat top left;
}
.clearfix:before, .clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}
.clearfix:after {
	clear: both;
}
.clearfix {
 *zoom: 1;
}
.quiz-option {
}
.quiz-option-img {
	width: 100px;
	height: 100px;
	border: 2px solid #fff;
	background: #fff;
	border-radius: 30px;
	overflow: hidden;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	left: 8px;
	top: 8px;
	box-shadow: 3px -3px 0 rgba(0,0,0,0.1);	
	z-index: 10;
	transition: all 0.3s ease-in-out;
}

.quiz-option-bg{
	
	width: 100px;
	height: 100px;
	border: 2px solid #852C6E;
	background: #852C6E;
	border-radius: 30px;
	overflow: hidden;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	left: 8px;
	top: 8px;
	box-shadow: 3px -3px 0 rgba(0,0,0,0.1);
	transition: all 0.3s ease-in-out;
}
.quiz-option-line-bg
{
width: 0px;
    height: 100%;
    background: #852C6E;
    position: absolute;
    top: 0px;
	transition: all 0.3s ease-in-out;
    left: 50px;	
	height: 116px;
}

.quiz-option:hover .quiz-option-img{
	border: 2px solid #852C6E;
	
}

.quiz-option:hover .quiz-option-bg{
	left: calc(100% - 108px);
}

.quiz-option:hover .quiz-option-line-bg{
	width: calc(100% - 108px);
}


.quiz-option-img img {
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	width: 120px;
	margin-top: -10px;
	margin-left: -10px;
}
.quiz-option figcaption {
	line-height: 120%;
	position: relative;
	padding: 25px 10px 10px 126px;
	z-index: 10;
}
.options-panel {
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	height: 140px;
	z-index: 3;
	transform: translate3d(0,1000px,0);
	transition: all 0.3s ease-in-out;
}

.container.show
{
	visibility: visible;
}
.container.show .options-panel
{
	transform: translate3d(0,0,0);
}

.options-panel.hide
{
z-index: 1;	
}




.fs-title {
	z-index: 108; 

}
.fs-title,.fs-controls,.show-date-cont
{
	transform: translate3d(0,-1000px,0);
	transition: all 0.3s ease-in-out;
}
.container.show .fs-title,.container.show .fs-controls,.container.show .show-date-cont
{
transform: translate3d(0,0%,0);
}
.fs-fields > li label.fs-field-label {
	margin: 0;
	padding: 0;
	height: 0px;
	width: 0px;
	position: absolute;
	overflow: hidden;
	visibility: hidden;
}
.fs-form-overview {
	position: fixed;
	top: 0;
}
.fs-continue, .fs-nav-dots, .fs-numbers {
	display: none;
}

.show-date-cont
{
	z-index: 120;
	position: absolute;
	width: 100%;
	
}
.show-date {
	background: #f9c100 none repeat scroll 0 0;
	border-radius: 20px;
	color: #852c6e;
	font-size: 18px;
	font-weight: 400;
	left: 5%;
	transform: translate(-50%,0);
	transition: all 0.3s ease-in-out;
	line-height: 100%;
	padding: 10px 20px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: 80px;
	width: 120px;
	z-index: 120;
}
.show-date::before {
  border-bottom: 14px solid #f9c100;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: "";
  height: 0;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  top: -12px;
  width: 0;
}

.drager-box
{
	    position: relative;
   /* transform: translate(0%,-50%);
    top: 50%;
	margin-top: 20%;*/
}
.drag-details
{
	position: relative;
	    margin-top: 50px;
	padding-bottom: 50px;

}
.drag-details ul li
{
display: none;
    background: #f9c100;
    padding: 10px;
    border-radius: 5px;
    color: #852c6e;
    text-align: left;
	margin: 0px 15px;
	
}
.drag-details ul li h2
{
	text-transform: capitalize;
	color: #fc2b5c;
}
.drag-details ul li.show
{
display: block;
}
.drag-outer-box
{
	width:100%;
	height: auto;
}
.drager{
	width: 100px;
	border-radius: 30px;
	overflow: hidden;
	-ms-transform: rotate(45deg) scale3d(1,1,1);;
	-webkit-transform: rotate(45deg) scale3d(1,1,1);;
	transform: rotate(45deg) scale3d(1,1,1);;
	background: #f9c100;
	display: inline-block;
	box-shadow: 5px -5px 0 rgba(0,0,0,0.1);	
	transition: all 0.3s ease-in-out;
}
.blast
{
	width:100%;
	
	position: absolute;
	visibility: hidden;
}
/*.blast-inner
{
	position: absolute;
    background-image: url(../img/blast.png);
	background-repeat: no-repeat;
    width: 292px;
    height: 283px;
    left: 50%;
    margin-left: -156px;
    transform: scale3d(0,0,1);
	transition: all 0.3s ease-in-out;
	top: -90px;
}*/


.blast-inner{
    background-image: url(../img/blast.png);
	background-repeat: no-repeat;
    width: 292px;
    height: 283px;
    margin: -90px auto 0 auto;
    transform: scale3d(0,0,1);
	transition: all 0.3s ease-in-out;
}

.blast-inner.scale
{
	  transform: scale3d(1.5,1.5,1);
}
.next-btn
{
position: absolute;
bottom: 0px;
	background:#f12858!important;
	visibility: hidden;
}

.next-btn .btn-name
{
color:white;	
}
.next-btn.show
{
	visibility: visible;
}
.blast.show
{
visibility:visible;
}
.drager.is-active{
	background:#FD2B5C;
	  transform: rotate(45deg) scale3d(1,1,1);
	color: white;
}
.drager.is-correct{
	    transform: rotate(45deg) scale3d(1.5,1.5,1);
	background: white;
}
.drager-text.is-active
{
	color: white;
}
.drager-container{
	    position: relative;
    text-align: center;
    height: 100%;
	z-index: 3;
	overflow:hidden;

}
.drager-container.overflow
{
	overflow: auto;
}


.drager-inner-container{
	    max-width: 700px;
	margin: 0 auto;
    height: auto;
	position: relative;
	padding-top: 125px;
	transform: translate3d(0,-200%,0);
	transition: all 0.4s ease-in-out;
	
}

/*
.drager-inner-container
{
	     width: 50%;
    margin-left: 25%;
    height: auto;
	position: relative;
	padding-top: 125px;
	transform: translate3d(0,-200%,0);
	transition: all 0.4s ease-in-out;
	
}
*/

.container.show .drager-inner-container
{
	transform:translate3d(0,0,0)
}


.cls-1{
	fill: rgba(0,0,0,0);
}

.map-panel {
	position: fixed;
	height: calc(100% - 140px);
	height: -moz-calc(100% - 140px);
	height: -webkit-calc(100% - 140px);
	width: 100%;
	
}
.map-panel img
{
	transform: scale3d(0.8,0.8,1);
	
	transition: all 0.5s ease-in-out;
	opacity: 0;
	
}
.container.show .map-panel img
{
	transform: scale3d(1,1,1);
	opacity: 1;
}

.drag-panel{
	position: fixed;
	height: calc(100% - 140px);
	height: -moz-calc(100% - 140px);
	height: -webkit-calc(100% - 140px);
	width: 100%;
	background: rgba(0,0,0,0);
	z-index: 120;
}
.drag-panel.show
{
	height: 100%;
}
.drager-text {
  border: 1px solid transparent;
  color: #FD2B5C;
  height: 50px;
  line-height: 113%;
  margin: 24px 0 0;
  position: absolute;
  text-align: center;
  top: 0;
  transform: rotate(-45deg);
  width: 100px;
}
.overlay{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 100%;
	background: rgba(0,0,0,0.7);
opacity: 0;
	z-index: 2;
	transition: all 0.3s ease-in-out;
}

.overlay.show
{
opacity: 1;
}
.map-1
{
        position: absolute;
    width: 100%;
    height: 100%;
    
    top: 0px;
    left: 0px;
    background-size: 200%;
 
    overflow: hidden;
	transition: all 0.3s ease-in-out;
}
.map-2{
	visibility: hidden;
}
.map-2.show
{
	visibility: visible;
}
.map-1 img
{
	width:100%;
	position: absolute;
	margin-left: 0;
	
}


/* Intro CSS */
#last-screen
{
	display: none;
}

.intro-wrap {
	width: 100%;
	height: 100%;
	overflow: hidden;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	transition: all 0.4s ease-in-out;
}
.intro-wrap.hidden  {
	transform: translate3d(0%,-100%,0);
}
.intro-wrap .content-middle {
	margin: 0 auto;
    max-width: 252px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
	-ms-transform: translateY (-50%);
	-webkit-transform: translateY (-50%);
	-moz-transform: translateY (-50%);
	-o-transform: translateY (-50%);
	transform: translateY(-50%);
}
.intro-wrap .content-middle .intro-logo {
	width: 252px;
	margin: 0 auto 40px;
}

/* Bob Animation */
.hvr-bob {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	-webkit-animation-name: hvr-bob-float, hvr-bob;
	animation-name: hvr-bob-float, hvr-bob;
	-webkit-animation-duration: .3s, 1.5s;
	animation-duration: .3s, 1.5s;
	-webkit-animation-delay: 0s, .3s;
	animation-delay: 0s, .3s;
	-webkit-animation-timing-function: ease-out, ease-in-out;
	animation-timing-function: ease-out, ease-in-out;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-direction: normal, alternate;
	animation-direction: normal, alternate;
}
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-16px);
    transform: translateY(-16px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-16px);
    transform: translateY(-16px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-16px);
    transform: translateY(-16px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-16px);
    transform: translateY(-16px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-16px);
    transform: translateY(-16px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-16px);
    transform: translateY(-16px);
  }
}

/* Button */
.btn-6 {
	margin: 0 auto;
	position: relative;
	display: block;
	overflow: hidden;
	width: 160px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	border-radius: 40px;
	font-size: 26px;
	color: #fc2b5c;
	text-transform: uppercase;
	background-color: #fde001;	
	box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
	/* this fixes the overflow:hidden in Chrome */
-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
.btn-6 {
	color: #609e70;
	background:#f9c100;
}
.btn-6 span.overlay-color {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-radius: 50%;
	background-color: #6a357f;
	-webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
	transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 1;
}
.btn-6:hover .btn-name {
  	color: #fff;
}
.btn-6:hover span.overlay-color {
	width: 300%;
	height: 562.5px;
}
.btn-6:active {
 	background-color: #448d57;
}

.btn-name {
	position:absolute;
	top:0px;
	z-index:9;
	margin:0;
	margin: 0 auto;
	width: 100%;
	left: 0;
	color: #fc2b5c;
	transition: all 0.4s ease-in-out;
}

/* Social Section */
.intro-social {
	margin-top: 25px;
	padding-top: 15px;
	border-top: 1px #fff solid;
	text-align: center;
}
.intro-social li {
	display: inline-block;
	font-size: 70px;
	color: #fde001;
	line-height: 60px;
}
.intro-social li a {
	color: #fde001;
	margin: 0 1px;
	transition: all 0.4s ease-in-out;
}
.intro-social li a:hover {
	color: #fff
}
.intro-social .social-txt {
	font-size: 22px;
	font-weight: 400;
}
/* Intro CSS */


.tq-logo {
  left: 10px;
  position: absolute;
  top: 7px;
  width: 30px;
}

.back-rote{
	transform: rotate(-45deg);
}


.btn-6.back-rote {
  font-size: 13px;
  height: 23px;
  left: 28%;
  line-height: 23px;
  position: absolute;
  top: 47px;
  width: 60px;
}

.loading-app{
	text-align: center;
	font-size: 26px;;
}
.fs-form-wrap{
	overflow: hidden;
}


