@charset "utf-8";
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: normal;
	background: #F2F2F2;
	color: #231f20;
}
p, blockquote {
	line-height: 150%;
	margin-bottom: 20px;
}
blockquote {
	color: #831A29;
	font-weight: 500;
	font-size: 25px;
	line-height: 120%;
	max-width: 700px;
	margin: 0 0 20px 0;
	text-align: center;
	display: inline-block;
	/*	font-family: 'Noto Serif', serif;*/
	font-family: Georgia;
	font-style: italic;
}
h1, h2, h3, h4, h5, h6 {
	color: #231f20;
	font-family: 'Roboto Slab', serif;
}
h1 {
	font-size: 36px;
	line-height: 44px;
}
.feed {
	padding: 0px 0px 30px 0px;
	text-align: center;
}
.imageWrapper {
	max-width: 600px;
	margin: 0px auto 20px auto;
}
/*
.imageWrapper.full-wrapper{
	max-width:100%;
}
*/


.imageWrapper.full-wrapper {
	margin-left: -60px;
	max-width: 1080px;
	width: 1080px;
}
.videoWrapper {
	margin-bottom: 20px;
}
.video-container {
	max-width: 600px;
	margin: 0 auto;
}
/*.imageWrapper, .videoWrapper{margin-bottom: 20px;}*/

.imageWrapper img {
	width: 100%;
}
.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0px 20px;
}
.content {
	background: #fff;
	margin-bottom: 80px;
	position: relative;
}
#section-1.content {
	margin-top: 40px;
}
.date-time {
	background: #831A29 none repeat scroll 0 0;
	color: #fff;
	left: -40px;
	position: absolute;
	top: 40px;
	width: 80px;
	z-index: 9999;
	text-align: center;
	font-family: "Fira Sans Extra Condensed", sans-serif;
	font-size: 20px;
	font-weight: 700;
	padding: 10px 0px;
}
.date-time span {
	display: block;
	line-height: 90%;
}
.date-time span.date {
	font-size: 35px;
}
.date-time span.month {
	font-size: 25px;
	font-weight: 500;
}
.date-time span.year {
	font-size: 25px;
	font-weight: 300;
}
.nav {
	position: fixed;
	right: 10px;
	top: 0;
	z-index: 1000;
	width: 50px;
	height: 100vh;
	/*background: #dadada;*/
	text-align: center;
}
.share {
	position: fixed;
	left: 50px;
	top: 50vh;
	z-index: 1000;
	width: 50px;
	height: 100vh;
	/*background: #dadada;*/
	text-align: center;
	display: block;
}
.nav ul {
	margin: 0;
	padding: 0;
	display: inline-block;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.nav ul li {
	margin: 0px 0;
	padding: 8px 0px;
}
.nav ul li a {
	width: 15px;
	height: 15px;
	display: block;
	border-radius: 100%;
	background: transparent;
	overflow: hidden;
	font-size: 0px;
	position: relative;
	border: 2px solid #831A29;
	transition: 0.2s all ease-in-out;
	-moz-transition: 0.2s all ease-in-out;
	-webkit-transition: 0.2s all ease-in-out;
	-ms-transition: 0.2s all ease-in-out;
	-o-transition: 0.2s all ease-in-out;
}
.nav ul li a.active {
	background: #831A29;
}
.footer-wrapper {
	background: #000;
	text-align: center;
	padding: 12px 0px;
}
.footer-wrapper a {
	color: #fff;
	font-size: 13px;
	font: 13px/120% arial, helvetica, sans-serif;
}
.top-wrapper {
	height: 45px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
}
.banner-wrapper {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 0;
	height: 100vh;
	background-attachment: fixed;
}
.top-wrapper .container {
	width: auto;
	max-width: inherit;
}
.top-left {
	float: left;
}
.top-right {
	float: right;
}
.top-logo {
	width: 30px;
	height: 30px;
	background-image: url(../images/quint-icon-p.svg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	width: 24px;
	height: 36px;
	margin: 6px 0 0 20px;
	position: relative;
}
.top-logo span {
	color: #7D00B3;
	font-style: italic;
	font-weight: bold;
	line-height: 29px;
	margin: 0 0 0 30px;
	position: relative;
	z-index: 10;
}
#vbl {
	background-image: url(../images/zoom.jpeg);
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	background-position: center center;
}
/*For paralax CSS*/

.full-image-section {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden
}
.full-image {
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;/*float: left*/
}
.full-image img {
	height: 100vh;
	width: 100%;
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
}
.background-fixed .full-image {
	position: absolute;
	top: 0;
	z-index: 0;
	clip: rect(0,auto,auto,0);
	width: 100%;
}
.background-fixed .full-image img {
	object-fit: cover;
	position: fixed;
	top: 0;
	-moz-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-backface-visibility: hidden;
}
.is-mobile {
	display: none;
}
.is-desktop {
	display: block;
}
/*screen*/
.rotate_screen {
	width: 100%;
	height: 100%;
	position: fixed;
	background: #8c58a5;
	top: 0px;
	left: 0px;
	bottom: 0;
	right: 0;
	z-index: 10000;
	display: none;
}
.rotate_screen h1 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: white;
}
.rotate_container {
	top: 50%;
	position: absolute;
	transform: translateY(-50%) translateX(-50%);
	-o-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%);
	-moz-transform: translateY(-50%) translateX(-50%);
	left: 50%;
}
.rotate_screen svg {
	width: 220px;
	height: 220px;
	margin: auto;
	left: 50%;
	margin-left: -110px;
	position: relative;
	animation: rotate_phone 2s ease-in-out infinite;
	-o-animation: rotate_phone 2s ease-in-out infinite;
	-ms-animation: rotate_phone 2s ease-in-out infinite;
	-webkit-animation: rotate_phone 2s ease-in-out infinite;
	-moz-animation: rotate_phone 2s ease-in-out infinite;
}
.rotate_screen h1 {
	font-size: 20px;
}
.rotate_screen svg {
	width: 110px;
	height: 110px;
	margin-left: -55px;
}
 @keyframes rotate_phone {
 0% {
transform: rotate(0deg);
}
 50% {
transform: rotate(90deg);
}
 100% {
transform: rotate(90deg);
}
}
 @-webkit-keyframes rotate_phone {
 0% {
transform: rotate(0deg);
-webkit-transform: rotate(0deg);;
}
50% {
transform: rotate(90deg);
-webkit-transform: rotate(90deg);
}
 100% {
transform: rotate(90deg);
-webkit-transform: rotate(90deg);
}
}
@-webkit-keyframes hvr-bob {
0%, 100% {
-webkit-transform:translateY(0) rotate(90deg);
transform:translateY(0) rotate(90deg)
}
50% {
-webkit-transform:translateY(4px) rotate(90deg);
transform:translateY(4px) rotate(90deg)
}
}
@keyframes hvr-bob {
0%, 100% {
-webkit-transform:translateY(0) rotate(90deg);
transform:translateY(0) rotate(90deg)
}
50% {
-webkit-transform:translateY(4px) rotate(90deg);
transform:translateY(4px) rotate(90deg)
}
}

/**/




@media all and (orientation:landscape) and (max-width:768px) {
.rotate_screen {
	display: block;
}
}
/*social*/

.social {
	position: fixed;
	top: 15px;
	right: 15px;
	width: 50px;
	z-index: 9999;
	display: block;
	text-align: center;
}
.logo {
	position: absolute;
	top: 15px;
	left: 15px;
	width: 50px;
	z-index: 9999;
	display: block;
}
.logo img {
	width: 100%;
}
.social-back {
	width: 50px;
	height: 50px;
	margin-bottom: 8px;
	cursor: pointer;
}
.social-icons {
	display: none;
}
.social-icons.show {
	display: block;
}
.social-icons .facebook, .social-icons .twitter, .social-icons .copyright {
	width: 40px;
	height: 40px;
	margin-bottom: 8px;
	display: inline-block;
}
.social img {
	width: 100%;
}

@media(max-width : 768px) {
.social {
	position: fixed;
	top: 15px;
	right: 15px;
	width: 30px;
	z-index: 9999;
	display: block;
}
.logo {
	position: absolute;
	top: 15px;
	left: 15px;
	width: 35px;
	z-index: 3;
	display: block;
}
.social-back {
	width: 30px;
	height: 30px;
	margin-bottom: 8px;
	cursor: pointer;
}
.social-icons .facebook, .social-icons .twitter, .social-icons .copyright {
	width: 30px;
	height: 30px;
	margin-bottom: 8px;
}
}
.headline-section {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, left, right);
	background-image: -webkit-linear-gradient(transparent, rgba(0,0,0,0.5));
	background-image: -moz-linear-gradient(transparent, rgba(0,0,0,0.5));
	background-image: -ms-linear-gradient(transparent, rgba(0,0,0,0.5));
	background-image: -o-linear-gradient(transparent, rgba(0,0,0,0.5));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='transparent', EndColorStr='rgba(0, 0, 0, 0.5)')"
}
.headline-section h2 {
	color: #fff;
	text-align: left;
	font-size: 70px;
	font-weight: 700;
	line-height: 70px;
	margin: 30px 0;
}
#tooltip {
	text-align: left;
	/*	text-shadow: 0 1px rgba( 0, 0, 0, .5 );*/
	line-height: 1.5;
	color: #fff;
	background: #3e86c1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/*	border-top: 1px solid #fff;*/
	-webkit-box-shadow: 0 3px 5px rgba( 0, 0, 0, .3 );
	-moz-box-shadow: 0 3px 5px rgba( 0, 0, 0, .3 );
	box-shadow: 0 3px 5px rgba( 0, 0, 0, .3 );
	position: absolute;
	z-index: 100;
	padding: 10px;
}
#tooltip:after {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #3e86c1;
	border-top-color: #3e86c1;
	content: '';
	position: absolute;
	left: 50%;
	bottom: -10px;
	margin-left: -10px;
}
#tooltip.top:after {
	border-top-color: transparent;
	border-bottom: 10px solid #3e86c1;
	border-bottom-color: #3e86c1;
	top: -20px;
	bottom: auto;
}
#tooltip.left:after {
	left: 10px;
	margin: 0;
}
#tooltip.right:after {
	right: 10px;
	left: auto;
	margin: 0;
}
#tooltip::before {
	content: "\f00d";
	position: absolute;
	font-family: 'FontAwesome';
	color: #fff;
	right: 5px;
	top: 2px;
	font-size: 14px;
	z-index: 100;
	display: none;
}
/*Custom CSS*/
.content h3 {
	font-size: 35px;
	margin: 20px 0px 10px 0px
}
.inner-content {
	max-width: 600px;
	margin: 0 auto;
	padding: 0px 20px;
}
.caption {
	font-size: 13px;
	color: #333;
	padding: 10px 20px 0 20px;
}
a {
	color: #831A29;
}
