@charset "utf-8";

@media only screen and (max-width: 1199px) {
    section .container {
        max-width: 980px;
    }
}

@media only screen and (max-width: 999px) {
	#slide1 .nav--bar {
		height: 120px;
	}
	#slide1 .banner--txt {
	    padding-bottom: 120px;
	}
	#slide1 .nav--bar ul li {
		margin: 33px 0 0 0;
		font-size: 30px;
		line-height: 28px;
	}
	#slide4 .horizontal--slider .slider--caption {
	    font-size: 18px;
	    line-height: 20px;
	}
}
@media only screen and (max-width: 800px) {
	#slide1 .nav--bar {
		height: 100px;
	}
	#slide1 .banner--txt {
	    padding-bottom: 100px;
	}
	#slide1 .nav--bar ul li {
		margin: 25px 0 0 0;
		font-size: 26px;
		line-height: 26px;
	}
}
@media only screen and (max-width: 639px) {
	#slide1 .banner--txt {
	    width: 100%;
	    margin-left: 0;
	    padding: 0 15px 0;
	}
	#slide1 .banner--headline {
	    font-size: 55px;
	    letter-spacing: -1.5px;
	}
	#slide1 .banner--headline span.top {
	    width: 222px;
	}
	#slide1 .banner--headline span.bottom {
	    width: 450px;
	}
	#slide1 .nav--bar {
		display: none;
	}
	#slide1 .banner--txt {
	    padding-bottom: 0;
	}

	#slide2 .section--txt {
	    max-width: 90%;
	    width: 90%;
	    padding: 0 20px;
	}
	#slide2 .section--txt .quote-txt {
	    font-size: 24px;
	    line-height: 26px;
	}
	#slide2 .section--txt .quote-title {
	    font-size: 18px;
	    line-height: 22px;
	}

	#slide4 .horizontal--slider .slider--caption {
	    padding: 10px;
	    font-size: 18px;
	    line-height: 20px;
	}
	#slide4 .horizontal--slider .slider--caption .quote--txt {
	    margin-bottom: 3px;
	}
	#slide4 .horizontal--slider .slider--caption .quote--title {
	    margin-bottom: 0;
	}

	/*.modal__dialog {
	    max-width: 400px;
	    width: 550px;
	    font-family: 'Zilla Slab', serif !important;
	}
	.modal-label-img {
	    max-width: 130px;
	}
	.modal__dialog h1,
	.modal__dialog h2,
	.modal__dialog h3,
	.modal__dialog h4 {
	    font-size: 18px;
	    line-height: 20px;
	}
	.modal__dialog--content {
	    padding: 0 0 10px 10px;
	    max-width: 215px;
	}*/
	
}
@media only screen and (max-width: 480px) {
	#slide1 .banner--txt {
	    padding: 0 10px 0;
	}
	#slide1 .banner--headline {
	    font-size: 37px;
	}
	#slide1 .banner--headline span.top {
	    width: 150px;
	    height: 55px;
    	line-height: 60px;
	}
	#slide1 .banner--headline span.bottom {
	    width: 300px;
	    height: 55px;
    	line-height: 60px;
	}
	/*#slide1 .section--content,
	#slide-mobile .section--content {
	    font-size: 16px;
	}*/

	#slide2 .section--txt {
	    max-width: 92%;
	    width: 92%;
	    padding: 0;

	}
	#slide2 .section--txt .quote-txt {
	    font-size: 20px;
	    line-height: 22px;
	    margin-bottom: 5px;
	}
	#slide2 .section--txt .quote-title {
	    font-size: 16px;
	    line-height: 18px;
	    width: 75%;
	}

	#slide4 .horizontal--slider .slider--caption {
	    font-size: 16px;
	    line-height: 18px;
	}

	
}