@charset "utf-8";

body {
	/*color: #4d4d4d;*/
    color: #333;
	font-size: 18px;
	font-family: 'Zilla Slab', serif;
    /*background: url(../images/sec-bg.jpg) top left;
    background-size: 100%;
    background-repeat: repeat-y;*/
}
@font-face {
    font-family: 'oswaldbold';
    src: url('../fonts/oswald-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/oswald-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
h1, h2, h3, h4, h5 {
	font-weight: normal;
    font-style: normal;
	font-family: 'oswaldbold';
}
.wrap {
	margin: 0;
	padding: 0;
}
section .container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
a {
	color: #333;
    outline: none;
    text-decoration: none;
    /*transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;*/
}
.wrap:before, .wrap:after, .container:before, .container:after, .clearfix:before, .clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}
.wrap:after, .container:after, .clearfix:after {
	clear: both;
}
.clearfix {
 	*zoom: 1;
}
/*
background-color: #0bffe7;
background-color: rgba(11,255,231,0.9);

background-color: #09ffa5;
background-color: rgba(9,255,165,0.9);
*/

/*For paralax CSS*/
.full-image-section {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    z-index:-9;
    width:100%;
    height:100vh;
}
.full-image {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.full-image img {
    height: 100vh;
    width: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
}
.background-fixed .full-image {
    position: absolute;
    top: 0;
    z-index: 0;
    clip: rect(0,auto,auto,0);
    width: 100%;
}
.background-fixed .full-image img {
    object-fit: cover;
    position: fixed;
    top: 0;
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.is-mobile {display: none;}
.is-desktop {display: block;}

#slide1,
#slide2,
#slide3 {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
#slide5 {
    width: 100%;
    position: relative;
}

/* Section #1 */
#slide1 {
    /*background: url('../images/lynching-india.jpg') 50% 0 no-repeat fixed;
    background-repeat: no-repeat;
    background-size: cover;*/
}
#slide1 .banner--txt {
    width: 480px;
    margin-left: 70px;
    padding-bottom: 140px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}
#slide1 .banner--headline {
    font-size: 60px;
    letter-spacing: -2px;
    text-transform: uppercase;
}
#slide1 .banner--headline span.top {
    width: 238px;
    height: 70px;
    line-height: 75px;
    /*background-color: #0bffe7;*/
    /*background-color: rgba(11,255,231,0.9);*/
    background-color: rgba(9,255,165,0.9);
    display: block;
    padding: 0 10px;
}
#slide1 .banner--headline span.bottom {
    height: 70px;
    line-height: 75px;
    display: block;
    padding: 0 10px;
    /*background-color: rgba(11,255,231,0.9);*/
    background-color: rgba(9,255,165,0.9);
}
#slide1 .section--content {
    margin-top: 12px;
    padding: 10px 15px 12px;
    position: relative;
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    /*background-color: rgba(11,255,231,0.9);*/
    background-color: rgba(9,255,165,0.9);
}
#slide1 .nav--bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140px;
    /*background-image: url(../images/nav-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: rgba(9,255,165,0.9);
}
#slide1 .nav--bar ul li {
    margin: 40px 0 0 0;
    float: left;
    width: 25%;
    font-size: 34px;
    line-height: 32px;
    font-family: 'oswaldbold';
    text-transform: uppercase;
    text-align: left;
    visibility: visible;
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
    text-align: center;
}
#slide1 .nav--bar ul li em {
    display: block;
}
#slide1 .nav--bar ul li span {
    margin: 0 auto;
    text-align: left;
    display: inline-block;
}
#slide1 .nav--bar ul li a {
    color: #333;
}

#slide-mobile {
    display: none;
}

/* -----  */

#slide1 .banner--main {
    margin: 0 auto;
    max-width: 900px;
    padding: 0 30px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #a8a8a8;
    font-size: 22px;
    line-height: 27px;
    font-weight: 400;
    transform: translateY(-50%);
}
#slide1 .banner--main .banner--img {
    width: 100%;
    margin-bottom: 30px;
}
#slide1 .banner--main .banner--img img {
    width: 100%;
    display: inline-block;
}
#slide1 .banner--main .txt--left {
    float: left;
    width: 50%;
    padding: 5px 30px 5px 100px;
    font-family: 'Libre Franklin', sans-serif;
}
#slide1 .banner--main .txt--right {
    float: left;
    width: 50%;
    font-family: 'Libre Franklin', sans-serif;
    border-left: 1px #8f8787 solid;
    padding-left: 35px;
}
#slide1 .banner--main .txt--right .counter {
    float: left;
    width: 90px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #000;
    font-size: 64px;
    letter-spacing: -2px;
    background-color: #8f8787;
    font-family: 'oswaldbold';
}
#slide1 .banner--main .txt--right .people-txt {
    float: left;
    width: 100px;
    margin-left: 10px;
    padding-top: 15px;
}
@media only screen and (max-width: 999px) {
    #slide1 .banner--main .txt--left {
        width: 64%;
        padding: 5px 30px 5px 40px;
    }
    #slide1 .banner--main .txt--right {
        width: 36%;
        padding-left: 20px;
    }
}
@media only screen and (max-width: 767px) {
    #slide1 .banner--main {
        font-size: 18px;
        line-height: 24px;
    }
    #slide1 .banner--main .txt--left {
        width: 60%;
        padding: 5px 30px 5px 0;
    }
    #slide1 .banner--main .txt--right {
        width: 40%;
        padding-left: 20px;
    }
    #slide1 .banner--main .txt--right .counter {
        width: 80px;
        height: 70px;
        line-height: 70px;
        font-size: 60px;
    }
    #slide1 .banner--main .txt--right .people-txt {
        padding-top: 10px;
    }
}

@media only screen and (max-width: 639px) {
    #slide1 .banner--main .banner--img {
        margin-bottom: 10px;
    }
    #slide1 .banner--main .txt--left {
        width: 100%;
        padding: 5px 0 5px 0;
        margin-bottom: 5px;
    }
    #slide1 .banner--main .txt--right {
        width: 100%;
        padding-left: 0;
        border-left: 0 none;
    }
    #slide1 .banner--main .txt--right .counter {
        width: 80px;
        height: 70px;
        line-height: 60px;
        font-size: 60px;
        padding-top: 10px;
    }
    #slide1 .banner--main .txt--right .people-txt {
        padding-top: 10px;
    }
}

@media only screen and (max-width: 480px) {
    #slide1 .banner--main {
        padding: 0 20px;
    }
}
/* Section #02 */
#slide2 {
    /*background-image: url(../images/green-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
    /*background-color: rgba(9,255,165,1.0);*/
    background: url(../images/dot-bg.png) #09ffa5 no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
}
#slide2 .section--txt {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}
.section--txt div {
    display: none;
    position: relative;
}
#slide2 .section--txt .quote-txt {
    font-size: 28px;
    display: inline-block;
    margin-bottom: 10px;
}
#slide2 .section--txt .quote-title {
    padding: 5px 10px;
    display: inline-block;
    position: relative;
    font-family: 'oswaldbold';
    font-size: 22px;
    line-height: 28px;
    background-color: #ffff00;
}
.section--txt .quote-txt {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
.section--txt .quote-title {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/* Section #03 */
#slide3 {
}
#slide3 .section--headline {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background: url(../images/dot-bg.png) #fff no-repeat fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#slide3 .section--headline span {
    /*background-color: #0bffe7;*/
    background-color: rgba(9,255,165,1.0);
    padding: 0 8px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
}
#slide3 .map-container {
    width: 100%;
    height: 100%;
}
#slide3 .map-container iframe {
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none;
    position: relative;
}
#slide3 .map-container iframe.clicked {
    pointer-events: auto;
}

/* Section #04 */
#slide4 {
    position: relative;
}
#slide4 .section--headline {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background: url(../images/dot-bg.png) #fff no-repeat fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#slide4 .section--headline span {
    /*background-color: #0bffe7;*/
    background-color: rgba(9,255,165,1.0);
    padding: 0 8px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
}
#slide4 .gallery {
    width: 100%;
    height: 100%;
    padding-top: 40px;
}
#slide4 .horizontal--slider {
    width: 100%;
    /*height: 100vh;*/
    position: relative;
}
#slide4 .horizontal--slider li img {
    width: 100%;
    /*height: 100vh;*/
}
#slide4 .horizontal--slider li {
    position: relative;
}
#slide4 .horizontal--slider .slider--caption {
    width: 100%;
    padding: 10px 12px;
    font-size: 22px;
    line-height: 24px;
    z-index: 99;
    cursor: text;
    /*background-color: #0bffe7;*/
    background-color: rgba(9,255,165,1.0);
}
#slide4 .horizontal--slider .slider--caption .quote--txt {
    display: block;
    margin-bottom: 5px;
}
#slide4 .horizontal--slider .slider--caption .quote--title {
    display: block;
    margin-bottom: 2px;
}

/* Section #05 */
#slide5 {
    /*background: url(../images/sec-bg.jpg) 50% 0 no-repeat fixed;
    background-repeat: no-repeat;
    background-size: cover;*/
    background: url(../images/dot-bg.png) #fff no-repeat fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#slide5 .section--headline {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
#slide5 .section--headline span {
    /*background-color: #0bffe7;*/
    background-color: rgba(9,255,165,1.0);
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
}

.slick-arrow {
    position: absolute;
    top: 46%;
    width: 100%;
}
.slick-arrow .arrow--prev,
.slick-arrow .arrow--next {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    cursor: pointer;
    display: block;
    /*background-color: #0bffe7;*/
    background-color: rgba(9,255,165,1.0);
}
.slick-arrow .arrow--prev {
    left: 0;
}
.slick-arrow .arrow--next {
    right: 0;
}
.slick-arrow .arrow--next:before,
.slick-arrow .arrow--prev:before {
    font-family:'FontAwesome';
    position: absolute;
    top: 13px;
    left: 13px;
    color: #333;
}
.slick-arrow .arrow--next:before {
    content:"\f054"
}

.slick-arrow .arrow--prev:before {
    content:"\f053"
}

/* ================ */
.gallery--effect {
    padding: 60px 5px 40px;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}
.gallery--effect li {
    display: inline-block;
    width: 16.66%;
    margin: 0;
    padding: 10px;
    text-align: left;
    position: relative;
}
.gallery--effect figure {
    margin: 0;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.gallery--effect figure img {
    max-width: 100%;
    display: block;
    position: relative;
}
.gallery--effect figcaption .label-2,
.gallery--effect figcaption .label-3,
.gallery--effect figcaption .label-4,
.gallery--effect figcaption .label-5,
.gallery--effect figcaption .contact-video {
    display: none;
}
.gallery--effect .gallery--caption h1,
.gallery--effect .gallery--caption h2,
.gallery--effect .gallery--caption h3 {
    font-family: 'Zilla Slab', serif !important;
    font-size: 16px;
    line-height: 16px
}
.gallery--effect figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}
.gallery--effect .gallery--caption {
    padding: 8px;
    /*background-color: rgba(11,255,231,0.85);*/
    background-color: rgba(9,255,165,0.8);
}
.gallery--effect .gallery--caption .more-btn {
    margin: 0 auto;
    padding: 3px 4px;
    font-size: 11px;
    color: #fff;
    display: inline-block;
    background-color: #ff6f6a;
}

.gallery--effect figure:hover figcaption {
    bottom: -150px;
}

/* modal Popup */
.modal__bg {
    background:rgba(0,0,0,0.8);
}
.modal__dialog {
    max-width: 700px;
    width: 700px;
    font-family: 'Zilla Slab', serif !important;
}
.modal__content {
    padding: 20px;
    will-change: transform, opacity;
    position: relative;
    /*background-color: #0bffe7;*/
    background-color: rgba(9,255,165,1.0);
    color: #333;
    background-clip: padding-box;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
    opacity: 0;
    -webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
.modal__dialog--img {
    float: left;
    max-width: 190px;
}
.modal__dialog--content {
    float: left;
    padding-left: 20px;
    max-width: 455px;
}
.modal-label-5 {
    margin-top: 5px;
}
.modal__dialog:before, .modal__dialog:after,
.modal__content:before, .modal__content:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both;
}
.modal__dialog h1,
.modal__dialog h2,
.modal__dialog h3,
.modal__dialog h4 {
    font-size: 20px;
    line-height: 24px;
    font-family: 'Zilla Slab', serif !important;
}

.modal-label-1:before {
    content: 'Name: ';
    font-weight: 700;
}

.modal-label-2:before {
    content: 'Date: ';
    font-weight: 700;
}
.label-3:before,
.modal-label-3:before {
    content: 'Location: ';
    font-weight: 700;
}
.label-4:before,
.modal-label-4:before {
    content: 'What Happened: ';
    font-weight: 700;
}
.label-5:before,
.modal-label-5:before {
    content: 'Case Status: ';
    font-weight: 700;
}
.modal__dialog--description {
    padding-top: 10px;
    float: left;
    width: 100%;
}
.embed-content {
    margin-top: 10px;
    float: left;
    width: 100%;
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
}
.embed-content iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal__dialog--video .embed-content.None {
    display: none!important;
}
.modal__dialog--video .embed-content.None iframe {
    display: none;
}
.modal__dialog--video .embed-content.none {
    display: none!important;
}
.modal--pop {
    will-change: visibility, opacity;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition-delay: $modal-delay;
    transition-delay: $modal-delay;
}
.modal--active {
    visibility: visible;
    opacity: 1;
}

.modal--align-top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.modal__content--active {
    opacity: 1;
}
.modal__close {
    z-index: 1100;
    cursor: pointer;
}
.modal__trigger {
    position: relative;
    display: inline-block;
    padding: 1.2rem 2.4rem;
    color: rgba(0, 0, 0, 0.7);
    line-height: 1;
    cursor: pointer;
    background: #ffebee;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal__trigger--active {
    z-index: 10;
}

.modal__trigger:hover {
    background: #e5d3d6;
}

#modal__temp {
    will-change: transform, opacity;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffebee;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    -webkit-transition: opacity 0.1s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: opacity 0.1s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.demo-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 6px;
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.demo-close svg {
    width: 24px;
    fill: #fff;
    pointer-events: none;
    vertical-align: top;
}

.demo-close:hover {
    background: rgba(0, 0, 0, 0.6);
}

/* Footer */
#footer {
    width: 100%;
    height: 35px;
    padding: 0 20px;
    color: #333;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    /*background-color: #0bffe7;*/
    background-color: rgba(9,255,165,1.0);
}
#footer a {
    color: #333;
    text-decoration: none;
}
#footer .copyright {
    float: left;
}
#footer .credits {
    float: right;
    cursor: pointer;
}
.creditsModal {
    padding: 20px;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    top: 0;
    left: 0;
    text-align: center;
    display: none;
}
.modal-content {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    font-size: 14px;
    color: #fff;
}
.modal-content span {
    display: block;
    padding: 4px 0px
}
.modalClose {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 6px;
    /*background: #0bffe7;*/
    background-color: rgba(9,255,165,1.0);
    -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.modalClose svg {
    width: 24px;
    fill: #333;
    pointer-events: none;
    vertical-align: top;
}
@media only screen and (max-width: 1400px) {
    .gallery--effect li {
        width: 20%;
    }
}
@media only screen and (max-width: 1280px) {
    .gallery--effect li {
        width: 25%;
    }
    .modal__dialog {
        max-width: 600px;
        width: 600px;
        height: 100vh;
    }
    .modal__dialog--img {
        max-width: 170px;
    }
    .modal__dialog--content {
        max-width: 375px;
        height: 100%;
        overflow: auto;
    }
}
@media only screen and (max-width: 999px) {
    .gallery--effect li {
        width: 33.33%;
    }
}
@media only screen and (max-width: 639px) {
    .is-mobile {display: block;}
    .is-desktop {display: none;}

    #slide1 .banner--txt {
        top: 80%;
    }
    #slide1 .section--content {
        display: none;
    }
    #slide-mobile {
        display: block !important;
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }
    #slide-mobile {
        background: transparent;
    }
    #slide-mobile .banner--txt {
        margin: 0 auto;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
    }
    #slide-mobile .section--content {
        margin: 0 20px;
        padding: 10px 15px 12px;
        position: relative;
        font-weight: 400;
        font-size: 18px;
        text-align: justify;
        /*background-color: rgba(11,255,231,0.9);*/
        background-color: rgba(9,255,165,0.9);
    }

    .gallery--effect {
        padding: 55px 5px 10px;
    }
    .gallery--effect li {
        width: 50%;
        padding: 5px;
    }

    .modal__content {
        box-shadow: none;
    }
    .modal__dialog {
        max-width: 100%;
        width: 100%;
        height: 100vh;
        /*background-color: #0bffe7;*/
        background-color: rgba(9,255,165,1.0);
    }
    .modal__dialog--img {
        max-width: 130px;
    }
    .modal__dialog--content {
        max-width: 68%;
        height: 100%;
        overflow: auto;
    }
    .modal__dialog h1,
    .modal__dialog h2,
    .modal__dialog h3,
    .modal__dialog h4 {
        font-size: 20px;
        line-height: 22px;
    }
}
@media only screen and (max-width: 480px) {
    .modal__content {
        padding: 10px;
    }
    .modal__dialog--content {
        max-width: 60%;
        padding-left: 10px;
    }
    .modal__dialog--img {
        max-width: 100px;
    }
}

