@charset "utf-8";
body {
	font-family: "Fira Sans Extra Condensed", sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #000;
	overflow-x: hidden;
	background-color: #fff;
}


p {
	line-height: 160%;
	margin-bottom: 25px;
}
a {
	text-decoration: none;
	outline: none;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	color: #fff;
	font-weight: normal;
	font-family: "Fira Sans Extra Condensed", sans-serif;
	margin: 0;
}
body::after{
	position: fixed;
	content: '';
	top: 0;
	right: 0;
	width: 40%;
	height: 100%;
	background: #BFB7B7;
}

body::before {
  width: 0; 
  height: 0;
  content: '';
  top: 50%;
  margin-top: -100px;
  right:40%;
  position: absolute;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent; 
  border-right:100px solid #BFB7B7; 
}

.container{
	max-width:100%;
	position: relative;
	margin: 0 auto;
	z-index: 100;
}

.container table{
	width: 100%;
}

.container table tr td{
	font-size: 85px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	padding: 0px 0px;
	line-height: 100%;
	vertical-align: text-bottom;
	text-align: left;
	border-collapse: collapse;
}

.container table tr td.num{
	font-size: 100px;
}




.left-container{
	width:60%;
	float: left;
	position: relative;
	height: 100vh;
}
.right-container{
	width:40%;
	float: left;
	position: relative;
}

.left-content{
	padding: 10px 100px 10px 10%;
	top: 50%;
	position:relative;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.right-content{
	padding: 50px 30px;
	height: 100vh;
	text-align: center;
}

.container h1{
/*	font-size: 85px;*/
	font-size: 72px;
	line-height: 100%;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
}

.container h2{
	font-size: 30px;
	line-height: 100%;
	color: #fff;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.container h2 span{display: inline-block; padding: 5px 10px;}

.tq{position: absolute; bottom: 20px; left: 0;  font-size: 25px; text-transform: uppercase; font-weight: 700; letter-spacing: 1px; width: 100%;}
.tq a{color:#fff; display: inline-block;}

.map{height: 450px; position:relative;}
.map span{position:absolute; z-index: 99; color: #fff; font-weight: 500; text-transform: uppercase; width: 100%; text-align: center; left: 0; top:48%; font-size: 22px; text-indent: 45px;}
.map svg{fill:#000000;stroke:#000000;stroke-miterlimit:10; height: 100%; width: 100%;}


/*All State Theme Color*/

/*North*/

body.is-north::before{border-right:100px solid #ffcd05; }
body.is-north::after{background-color:#ffcd05;}
body.is-north .container table tr td.num{color:#ffcd05;}

body.is-north .container h1{color:#0078bf;}
body.is-north, body.is-north .container h2 span{background-color:#0078bf;}
body.is-north .map svg{fill:#0078bf;stroke:#0078bf;}

/*South*/
body.is-south::before{border-right:100px solid #ffcd05; }
body.is-south::after{background-color:#ffcd05;}
body.is-south .container table tr td.num{color:#ffcd05;}

body.is-south .container h1{color:#9E02C4;}
body.is-south, body.is-south .container h2 span{background-color:#9E02C4;}
body.is-south .map svg{fill:#9E02C4;stroke:#9E02C4;}

/*East*/
body.is-east::before{border-right:100px solid #ffcd05; }
body.is-east::after{background-color:#ffcd05;}
body.is-east .container table tr td.num{color:#ffcd05;}

body.is-east .container h1{color:#AB1F4F;}
body.is-east, body.is-east .container h2 span{background-color:#AB1F4F;}
body.is-east .map svg{fill:#AB1F4F;stroke:#AB1F4F;}

/*Overall*/
body.is-overall::before{border-right:100px solid #ffcd05; }
body.is-overall::after{background-color:#ffcd05;}
body.is-overall .container table tr td.num{color:#ffcd05;}

body.is-overall .container h1{color:#F00063;}
body.is-overall, body.is-overall .container h2 span{background-color:#F00063;}
body.is-overall .map svg{fill:#F00063;stroke:#F00063;}









