@charset "utf-8";
*, *:after, *:before {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	outline: none !important;
}
img {
	width: auto\9;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}
ul, ol {
	list-style-type: none;
}
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	height: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
article, aside, footer, header, nav, section {
	display: block;
}
figcaption, figure, main {
	display: block;
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
a:active, a:hover {
	outline-width: 0;
}
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}
b, strong {
	font-weight: inherit;
}
b, strong {
	font-weight: 700;
}
pre, code, kbd, samp {
	font-family: monospace, monospace;
}
dfn {
	font-style: italic;
}
mark {
	background-color: #ff0;
	color: #000;
}
small {
	font-size: 80%;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}

audio, video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
img {
	border-style: none;
}
svg:not(:root) {
	overflow: hidden;
}
button, input, optgroup, select, textarea {
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
button, input {
	overflow: visible;
}
button, select {
	text-transform: none;
}
button, html [type="button"], [type="reset"], [type="submit"] {
	-webkit-appearance: button;
}
 button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
 border-style: none;
 padding: 0;
}
 button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
 outline: 1px dotted ButtonText;
}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}
progress {
	display: inline-block;
	vertical-align: baseline;
}
textarea {
	overflow: auto;
}
[type="checkbox"], [type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
 [type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
 height: auto;
}
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
 [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
 -webkit-appearance: none;
}

::-webkit-file-upload-button {
 -webkit-appearance: button;
 font: inherit;
}
details, menu {
	display: block;
}
summary {
	display: list-item;
}
canvas {
	display: inline-block;
}
template {
	display: none;
}
[hidden] {
	display: none;
}
::selection {
	background: rgba(0, 0, 0, .2);
}
::-moz-selection {
 background: rgba(0, 0, 0, .2);
}
.wrapper, .container {
	position: relative;
}
.clearfix:before,  .clearfix:after, .section-content:after, .section-content:before, .wrapper:before, .wrapper:after, .container:before, .container:after, .row:before, .row:after {
	display: table;
	line-height: 0;
	content: "";
}
.clearfix:after, .wrapper:after, .container:after, .row:after, .section-content:after {
	clear: both;
}
.clearfix {
 *zoom: 1;
}


body {
  background: rgba(0, 0, 0, 0) url("../images/bg.png") no-repeat fixed center top / cover ;
  color: #4b4b4b;
  font-family: "Roboto",sans-serif;
  font-size: 15px;
  font-weight: 400;
  overflow-x: hidden;
}
p {
	line-height: 130%;
	margin-bottom: 25px;
	
}
a {
	text-decoration: none;
	outline: none;
	color: #333;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
}
/*custom css*/

.logo {
  display: block;
  left: 15px;
  position: absolute;
  top: 15px;
  width: 130px;
	z-index: 9999;
}

.container {
	width: 700px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
}

.chr-wrapper{text-align: center; padding-top: 15px;}
.form-wrapper{
	padding: 0px 15px;
}
.form-wrapper .container{
	width: 700px;
	max-width: 100%;
	background: #fff;
	padding: 20px 15px;
}

.form-text{
	max-width: 300px;
	margin: 0 auto;
	text-align: center;
}
.form-text h1{max-width: 200px; margin: 0 auto;}
.form-text p{
	font-size: 16px;
	margin: 10px 0px;
	font-weight: 500;
}
.form-text p em{
	font-style: italic;
}


.form-text p span{
	color: #898989;
}

.footer-wrapper{
	padding: 25px 0px 20px 0;
	text-align: center;
}

.go-qt{display:inline-block; color: #333; position: relative; padding-right: 100px; }

.go-qt span{
	font-size: 30px;
	font-weight: 500;
	line-height: 65px;
	font-style: italic;
	letter-spacing: -1px;
	margin-right: 0px;
}

.go-qt img{width: 100px; position: absolute; top: 0; right: 0;}



@media (max-width: 767px) {
	.chr-wrapper img{
		max-width: 200px;
	}
	.form-wrapper .container{
		padding: 20px 0px;
	}
	
	.logo {
  display: block;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 100px;
}
}



