@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900');
body {
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #6d6e70;
	overflow-x: hidden;
	background-color: #f3f3f3;
}
body::after {
	content: '';
	width: 100%;
	height: 500px;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../images/top-banner.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	overflow: hidden;
}
/*
.bottom-wrapper {
	overflow: hidden;
	
}
.bottom-wrapper::after {
	background-image: url(../images/top-banner.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	top: 50%;
	left: 0px;
	content: '';
	width: 100%;
	height: 700px;
}
*/


.tab-wrapper::after {
	background-image: url(../images/top-banner.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top;
	position: absolute;
	bottom: 0;
	left: 0px;
	content: '';
	width: 100%;
	height: 200px;
}
/*
body::after{
	content: '';
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 722px;
	background-image: url(../images/top-banner.jpg);
	background-repeat: repeat-x;
}
*/


p {
	line-height: 160%;
	margin-bottom: 25px;
}
a {
	text-decoration: none;
	outline: none;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	color: #6d6e70;
	font-weight: normal;
	font-family: "Fira Sans Extra Condensed", sans-serif;
}
.container {
	position: relative;
	max-width: 1100px;
	padding: 0px 15px;
	margin: 0 auto;
	z-index: 100;
}
.chart-content {
	width: 300px;
	height: 300px;
	margin: 0 auto;
}
.video-wrapper .embed-content {
	box-shadow: 2px 0 11px rgba(0, 0, 0, 0.7);
}
.election-text {
	margin: 20px auto 0 auto;
	width: 30%;
}
/*.video-wrapper{padding-bottom: 20px;}*/
.video-wrapper .container {
	max-width: 800px;
}
.video-wrapper h2 {
	text-align: center;
	color: #3b5aa9;
	font-size: 40px;
	font-weight: 700;
	margin: 0px 50px;
}
.top-content {
	margin: 0px -15px;
}
.top-content p {
	margin: 0;
}
.top-content .content {
	width: 50%;
	padding: 15px;
	float: left;
}
.election-bg {
	background-image: url(../images/mobile-elections-bg.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 80%;
	padding-bottom: 20px;
}
.tabs-menu li {
	float: left;
	width: 20%;
	margin: 0px;
	padding: 0;
	border-left: 1px solid #fff;
	text-align: center;
	font-family: "Fira Sans Extra Condensed", sans-serif;
}
.tabs-menu li:first-child {
	border-left: 0;
}
.tabs-menu li a {
	background: #d4d5d7;
	color: #6d6e70;
	display: block;
	font-size: 22px;
	font-weight: 500;
	padding: 8px 0;
	text-align: center;
}
.tabs-menu li.active a {
	background: #313393;
	color: #fff;
}
.tab {
	margin: 30px 0 0 0;
	width: auto;
}
.tab-content {
	display: none;
}
.row {
	margin: 0px -15px;
	margin-bottom: 30px;
}
.col {
	padding: 0 15px;
	float: left;
}
.col-content {
	border: 1px solid #D4D5D7;
	padding: 8px 10px;
	min-height: 300px;
	background: #F3F3F3;
}
.scroll-content {
	max-height: 400px;
	overflow: auto;
}
.col.col-1 {
	width: 33.333%;
}
.col.col-2 {
	width: 66.666%;
}
.col.col-3 {
	width: 100%;
}
.col-content h3 {
	font-size: 29px;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 100%;
	margin-bottom:5px;
}
.col-content h3.color-1 {
	color: #d72331;
}
.col-content h3.color-2 {
	color: #7bc144;
}
.col-content h3.color-3 {
	color: #a34f9e;
}
.col-content h3.color-4 {
	color: #c5d830;
}
.col-content h4 {
	font-size: 19px;
	font-weight: 400;
	line-height: 104%;
	margin: 0px 0 10px;
}
p.caption {
	margin: 10px 0;
}
.inner-tab {
	margin: -8px -10px 0px -10px;
}
.inner-tab ul li {
	float: left;
	width: 50%;
}
.inner-tab ul li a {
	background: #d4d5d7 none repeat scroll 0 0;
	display: block;
	padding: 8px 0;
	text-align: center;
	font-family: "Fira Sans Extra Condensed", sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	color: #333;
	font-size: 20px;
}
.inner-tab ul li a.is-active {
	background: #F3F3F3;
	color: #313393;
}
.tabcontent {
	padding: 15px 10px;
}
/*Custom Chart*/

.chart-wrapper-even {
	background: #fff;
}
.highcharts-background {
	fill: transparent;
}
.highcharts-button-symbol, .highcharts-button-box {
	display: none;
}
.highcharts-credits {
	display: none;
}
/*Table*/
table {
	border-collapse: collapse;
	width: 100%;
	background: #fff;
}
td, th {
	padding: 10px 15px;
	text-align: left;
}
td.err {
	background-color: #e992b9;
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 1;
}
thead td {
	background-color: #31bc86;
	font-weight: bold;
	color: #fff;
	white-space: nowrap;
}
th.header {
	cursor: pointer;
}
tbody th {
	background-color: #2ea879;
}
table tr:nth-child(2n-1) {
	background-color: #f5f5f5;
	transition: all .125s ease-in-out;
}
table tr:hover {
	background-color: rgba(129,208,177,.3);
}
.cand {
	max-height: 330px;
	overflow-y: auto;
	min-height: 330px;
}

.cand-1 {
	max-height: 412px;
	min-height: 412px;
}



.cand ul li {
	position: relative;
	min-height: 70px;
	border-bottom: 1px solid #d4d5d7;
	margin-bottom: 15px;
}
.cand ul li:last-child {
	border: 0;
}
.cand ul li .avatar {
	position: absolute;
	width: 60px;
	height: 60px;
	top: 2px;
	left: 0;
	border-radius: 100%;
	overflow: hidden;
}
.cand ul li .des {
	margin: 0 0 0 70px;
}
.cand ul li .des h5 {
	font-size: 17px;
	font-weight: 500;
}
.cand ul li .des p {
	line-height: 115%;
	margin: 2px 0 15px 0;
}
.space {
	margin-bottom: 20px;
}
.loading {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0;
	z-index: 111;
	background: url(../images/AjaxLoader.gif) #F3F3F3 no-repeat center 70px;
	display: none;
}
.tab-content.active {
	display: block !important;
}
.tab {
	padding: 10px;
	background: #f3f3f3;
	margin-bottom: 30px;
	position: relative;
}
.row.last-row {
	margin-bottom: 0;
}

.fix-cont-1{min-height: 523px;}
.fix-cont-2{min-height: 523px;}

