@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900');
body {
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #6d6e70;
	overflow-x: hidden;
	background-color: #f3f3f3;
}
p {
	line-height: 160%;
	margin-bottom: 25px;
}
a {
	text-decoration: none;
	outline: none;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	color: #6d6e70;
	font-weight: normal;
	font-family: "Fira Sans Extra Condensed", sans-serif;
}
.container {
	position: relative;
	max-width: 1100px;
	padding: 0px 15px;
	margin: 0 auto;
	z-index: 100;
}
.row {
	margin: 0px -15px;
	margin-bottom: 30px;
}

.col {
	padding: 0 15px;
	float: left;
}

.col-content {
	border: 1px solid #D4D5D7;
	padding: 8px 10px;
	min-height: 300px;
	background: #F3F3F3;
}
.scroll-content {
	max-height: 400px;
	overflow: auto;
}
.col.col-1 {
	width: 33.333%;
}
.col.col-2 {
	width: 66.666%;
}
.col.col-3 {
	width: 100%;
}
.col-content h3 {
	font-size: 29px;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 100%;
}
.col-content h3.color-1 {
	color: #d72331;
}
.col-content h3.color-2 {
	color: #7bc144;
}
.col-content h3.color-3 {
	color: #a34f9e;
}
.col-content h3.color-4 {
	color: #c5d830;
}
.col-content h4 {
	font-size: 19px;
	font-weight: 400;
	line-height: 104%;
	margin: 4px 0 9px;
}
p.caption {
	margin: 10px 0;
}

.row.center-row{
	text-align: center;
}
.row.center-row .col{
	float:none;
	display: inline-block;
	text-align: left;
}




/*Frame Content CSS*/

.frame-wrapper{}
.frame-wrapper .container{
	padding: 10px;
}



