body {
    margin: 30px 0;
    height: 610px;
}
#main-wrap {
	height: 553px;
    width: 222px;
    margin: 0 auto;
    position: relative;
}
#wrapper {
    /*background-color: black;*/
    /*overflow:scroll;*/
    margin-bottom: 15px;
}
#container {
    position: relative;
    height: 553px;
    width: 222px;
}

/* */
.result-btn {
	margin: 0 auto;
	padding: 10px 0;
	background-color: #c1272d;
	color: #fff;
	width: 100px;
	text-align: center;
    cursor: pointer;
    border-radius: 3px;
    transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-webkit-transition:all 0.5s ease-in-out;
}
.result-btn:hover {
    border-radius: 50px;
}
.placeddiv {
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 100%;
    cursor: pointer;
}
.placeddiv:after {
    position: absolute;
    content: ' ';
    height: 10px;
    width: 10px;
    background-color: white;
    left: -5px;
    top: -4px;
    border-radius: 50%;
}
.points {
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 100%;
    cursor: pointer;
}
.points:after {
    position: absolute;
    content: ' ';
    height: 14px;
    width: 14px;
    background-color: white;
    border: 3px red solid;
    left: -5px;
    top: -4px;
    border-radius: 50%;
}
.points.active:after {
    background-color: red;
    border-color: white;
}
/*.points:hover:after {
    background-color: red;
    border-color: white;
}*/
/* Pop Box */
.pop-box {
    position: absolute;
    background: #f2f2f2;
    border: 5px solid #fff;
    width: 236px;
    /*height: 100px;*/
    top: 29px;
    left: -103px;
    font-size: 13px;
    -webkit-box-shadow: 0px 1px 3px 1px #777;
    -moz-box-shadow:    0px 1px 3px 1px #777;
    box-shadow:         0px 1px 3px 1px #777;
    display: none;
    z-index: 99;
    padding: 10px;
}
.close {
    position: absolute;
    top: -16px;
    right: -13px;
    font-size: 20px;
}
.pop-box h2 {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
}
.pop-box ol {
    list-style-type: ;
    /*list-style-type: decimal;*/
    /*margin-left: 11px;*/
}
.pop-box ol li {
    margin-bottom: 5px;
    padding-left: 15px;
    position: relative;
}
.pop-box ol li::before {
    position: absolute;
    left: 0px;
    top: 1px;
    content: "\f08b";
    font-family: FontAwesome;
    font-size: 13px;
}
/*.pop-box ol li:before {
    position: absolute;
    content: " - ";
    left: 0;
    font-size: 20px;
    line-height: 13px;
}*/
.pop-box:after, .pop-box:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
}
.pop-box:after {
    border-width: 10px;
    margin-left: -10px;
}
.pop-box:before {
    border-width: 11px;
    margin-left: -11px;
}

/*.points                     {display: block !important;}*/

.points.first               {top: 39px;left: 119px;}

/*.points.second            {top: 18px;left: 110px;}*/
.points.second               {top: 4px;left: 95px;width: 30px;height: 30px;}

/*.points.third             {top: 48px;left: 81px;}*/
.points.third               {top: 36px;left: 66px;width: 30px;height: 30px;}

/*.points.forth             {top: 87px;left: 112px;}12 15*/
.points.forth               {top: 75px;left: 97px;width: 30px;height: 30px;}

.points.fifth               {top: 50px;left: 110px;}

/*.points.sixth             {top: 10px;left: 92px;}*/
.points.sixth               {top: -2px;left: 77px;width: 30px;height: 30px;}

.points.seventh             {top: 61px;left: 110px;}

/*.points.eight             {top: 130px;left: 103px;}*/
.points.eight               {top: 118px;left: 88px;width: 30px;height: 30px;}

/*.points.ninth             {top: 128px;left: 141px;}*/
.points.ninth               {top: 116px;left: 126px;width: 30px;height: 30px;}
.points.ninth:after         {left: 8px;top: 8px;}

/*.points.tenth             {top: 189px;left: 111px;}*/
.points.tenth               {top: 177px;left: 96px;width: 30px;height: 30px;}

/*.points.eleventh          {top: 288px;left: 32px;}*/
.points.eleventh            {top: 276px;left: 17px;width: 30px;height: 30px;}

/*.points.twelfth           {top: 276px;left: 204px;}*/
.points.twelfth             {top: 264px;left: 189px;width: 30px;height: 30px;}

/*.points.thirteen          {top: 173px;left: 91px;}*/
.points.thirteen            {top: 161px;left: 76px;width: 30px;height: 30px;}

/*.points.forteen           {top: 209px;left: 96px;}*/
.points.forteen             {top: 197px;left: 81px;width: 30px;height: 30px;}

/*.points.fifteen           {top: 254px;left: 97px;}*/
.points.fifteen             {top: 242px;left: 82px;width: 30px;height: 30px;}

/*.points.sixteen           {top: 259px;left: 120px;}*/
.points.sixteen             {top: 247px;left: 105px;width: 30px;height: 30px;}

/*.points.seventeen         {top: 353px;left: 132px;}*/
.points.seventeen           {top: 341px;left: 117px;width: 30px;height: 30px;}

/*.points.eighteen          {top: 436px;left: 85px;}*/
.points.eighteen            {top: 424px;left: 70px;width: 30px;height: 30px;}

/*.points.nineteen          {top: 456px;left: 140px;}*/
.points.nineteen            {top: 444px;left: 125px;width: 30px;height: 30px;}

/*.points.twentieth         {top: 363px;left: 84px;}*/
.points.twentieth           {top: 351px;left: 69px;width: 30px;height: 30px;}

/*.points.twentyfirst       {top: 423px;left: 155px;}*/
.points.twentyfirst         {top: 411px;left: 140px;width: 30px;height: 30px;}

.points.second:after,
.points.third:after,

.points.forth:after,
.points.sixth:after,
.points.eight:after,
.points.tenth:after,
.points.eleventh:after,
.points.twelfth:after,
.points.thirteen:after,
.points.forteen:after,
.points.fifteen:after,
.points.sixteen:after,
.points.seventeen:after,
.points.eighteen:after,
.points.nineteen:after,
.points.twentieth:after,
.points.twentyfirst:after   {left: 8px;top: 8px;}

.points.first .pop-box,
.points.fifth .pop-box,
.points.seventh .pop-box {
    top: 17px;
    left: -116px;
}
