body {
    height: 690px;
    font-family: 'Strait', sans-serif;
    line-height: 100%;
    color: #3C3C3C;
}
.main {
    height: 553px;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
}

/* Header */
.header {
    font-size: 24px;
    padding: 0 10px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

/* Middle */
.human-body {
    position: relative;
    height: 553px;
    width: 222px;
    margin: 0 auto;
    background: url(../images/Human-Anantomy.png) no-repeat center;
}
.human-body .step-01,
.human-body .step-02 {
    height: 553px;
    width: 222px;
    /*opacity: 0.5;*/
}
.human-body .step-01 {
    background-color: rgba(0,0,255, 0.5);
}
.human-body .step-02 {
    background-color: rgba(255,0,0, 0.5);
}

/* Footer */
.footer {
    text-align: center;
}
.footer .check-btn {
    margin: 0 auto;
    padding: 10px 0;
    background-color: #c1272d;
    color: #fff;
    width: 90px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 700;
    letter-spacing: 1px;
    transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-webkit-transition:all 0.5s ease-in-out;
}
.footer .check-btn:hover {
    background-color: #000;
}
.footer .check-content {
    font-size: 16px;
    font-weight: 700;
}






/*    ============    */

.click-point {
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 100%;
    cursor: pointer;
}
.click-point:after {
    position: absolute;
    content: ' ';
    height: 10px;
    width: 10px;
    background-color: #f7f7f7;
    left: -5px;
    top: -4px;
    border-radius: 50%;
}
.points {
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 100%;
    cursor: pointer;
    /*z-index: 99;*/
}
.points:after {
    position: absolute;
    content: ' ';
    height: 14px;
    width: 14px;
    background-color: white;
    border: 3px black solid;
    left: -5px;
    top: -4px;
    border-radius: 50%;
}
.points.active:after {
    background-color: red;
    border-color: white;
}
@media only screen and (min-width: 1025px) {
    .points:hover:after {
        background-color: red;
        border-color: white;
    }
}
.step-01 .points:after {
    /*display: none;*/
}
/* Pop Box */
.pop-box {
    position: absolute;
    background: #f2f2f2;
    border: 5px solid #fff;
    width: 236px;
    min-height: 100px;
    top: 29px;
    left: -103px;
    font-size: 14px;
    -webkit-box-shadow: 0px 1px 3px 1px #777;
    -moz-box-shadow:    0px 1px 3px 1px #777;
    box-shadow:         0px 1px 3px 1px #777;
    display: none;
    z-index: 99;
    padding: 10px;
}
.close {
    position: absolute;
    top: -16px;
    right: -13px;
    font-size: 20px;
    background-color: #fff;
    height: 17px;
    width: 17px;
    display: block;
    border-radius: 50%;
}
.pop-box h2 {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
}
.pop-box ol {
    list-style-type: ;
    /*list-style-type: decimal;*/
    margin-left: 10px;
}
.pop-box ol li {
    margin-bottom: 5px;
    padding-left: 13px;
    position: relative;
}
.pop-box ol li::before {
    position: absolute;
    left: 0px;
    top: 0;
    content: "\f111";
    font-family: FontAwesome;
    font-size: 8px;
}
/*.pop-box ol li:before {
    position: absolute;
    content: " - ";
    left: 0;
    font-size: 20px;
    line-height: 13px;
}*/
.pop-box:after, .pop-box:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
}
.pop-box:after {
    border-width: 10px;
    margin-left: -10px;
}
.pop-box:before {
    border-width: 11px;
    margin-left: -11px;
}






/*   */

.pop-overlay {
    margin: 0 auto;
    left: 0;
    right: 0;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.5);
}
.error-box {
    margin: -65px auto 0;
    top: 50%;
    right: 0;
    left: 0;
    position: absolute;
    background: #f2f2f2;
    border: 5px solid #fff;
    width: 270px;
    min-height: 150px;
    font-size: 14px;
    -webkit-box-shadow: 0px 1px 3px 1px #777;
    -moz-box-shadow:    0px 1px 3px 1px #777;
    box-shadow:         0px 1px 3px 1px #777;
    z-index: 99;
    padding: 10px;
    cursor: pointer;
}
.error-close {
    position: absolute;
    top: -16px;
    right: -13px;
    font-size: 20px;
    background-color: #fff;
    height: 17px;
    width: 17px;
    display: block;
    border-radius: 50%;
}
.error-box h2 {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
}
.error-box ol {
    list-style-type: ;
    /*list-style-type: decimal;*/
    margin-left: 10px;
}
.error-box ol li {
    margin-bottom: 5px;
    padding-left: 13px;
    position: relative;
}
.error-box ol li::before {
    position: absolute;
    left: 0px;
    top: 0;
    content: "\f111";
    font-family: FontAwesome;
    font-size: 8px;
}











.points                     {display: block !important;background-color: rgba(255,255,255, 0.5);}

/*.points.first             {top: 39px;left: 119px;}*/
.points.first               {top: 31px;left: 110px;width: 20px;height: 20px;}
.points.first:after         {left: 3px;top: 3px;}


/*.points.second            {top: 18px;left: 110px;}*/
.points.second               {top: 4px;left: 95px;width: 30px;height: 30px;}

/*.points.third             {top: 48px;left: 83px;}*/
.points.third               {top: 36px;left: 68px;width: 30px;height: 30px;}

/*.points.forth             {top: 87px;left: 112px;}12 15*/
.points.forth               {top: 75px;left: 97px;width: 30px;height: 30px;}

/*.points.fifth             {top: 50px;left: 110px;}*/
.points.fifth               {top: 42px;left: 101px;width: 20px;height: 20px;}
.points.fifth:after         {left: 3px;top: 3px;}


/*.points.sixth             {top: 10px;left: 92px;}*/
.points.sixth               {top: -2px;left: 77px;width: 30px;height: 30px;}

/*.points.seventh           {top: 61px;left: 110px;}*/
.points.seventh             {top: 55px;left: 101px;width: 20px;height: 20px;}
.points.seventh:after       {left: 3px;top: 3px;}



/*.points.eight             {top: 130px;left: 103px;}*/
.points.eight               {top: 118px;left: 88px;width: 30px;height: 30px;}

/*.points.ninth             {top: 128px;left: 141px;}*/
.points.ninth               {top: 116px;left: 126px;width: 30px;height: 30px;}
.points.ninth:after         {left: 8px;top: 8px;}

/*.points.tenth             {top: 189px;left: 111px;}*/
.points.tenth               {top: 177px;left: 96px;width: 30px;height: 30px;}

/*.points.eleventh          {top: 288px;left: 32px;}*/
.points.eleventh            {top: 276px;left: 17px;width: 30px;height: 30px;}

/*.points.twelfth           {top: 276px;left: 204px;}*/
.points.twelfth             {top: 264px;left: 189px;width: 30px;height: 30px;}

/*.points.thirteen          {top: 173px;left: 91px;}*/
.points.thirteen            {top: 161px;left: 76px;width: 30px;height: 30px;}

/*.points.forteen           {top: 209px;left: 96px;}*/
.points.forteen             {top: 197px;left: 81px;width: 30px;height: 30px;}

/*.points.fifteen           {top: 254px;left: 97px;}*/
.points.fifteen             {top: 242px;left: 82px;width: 30px;height: 30px;}

/*.points.sixteen           {top: 259px;left: 120px;}*/
.points.sixteen             {top: 247px;left: 105px;width: 30px;height: 30px;}

/*.points.seventeen         {top: 353px;left: 132px;}*/
.points.seventeen           {top: 341px;left: 117px;width: 30px;height: 30px;}

/*.points.eighteen          {top: 436px;left: 85px;}*/
.points.eighteen            {top: 424px;left: 70px;width: 30px;height: 30px;}

/*.points.nineteen          {top: 456px;left: 140px;}*/
.points.nineteen            {top: 444px;left: 125px;width: 30px;height: 30px;}

/*.points.twentieth         {top: 363px;left: 84px;}*/
.points.twentieth           {top: 202px;left: 125px;width: 30px;height: 30px;}

/*.points.twentyfirst       {top: 423px;left: 155px;}*/
.points.twentyfirst         {top: 411px;left: 140px;width: 30px;height: 30px;}

.points.second:after,
.points.third:after,

.points.forth:after,
.points.sixth:after,
.points.eight:after,
.points.tenth:after,
.points.eleventh:after,
.points.twelfth:after,
.points.thirteen:after,
.points.forteen:after,
.points.fifteen:after,
.points.sixteen:after,
.points.seventeen:after,
.points.eighteen:after,
.points.nineteen:after,
.points.twentieth:after,
.points.twentyfirst:after   {left: 8px;top: 8px;}

.points.first .pop-box,
.points.fifth .pop-box,
.points.seventh .pop-box {
    top: 24px;
    left: -108px;
}
