@charset "utf-8";
.container {
	width: 800px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
}

@media (max-width: 1199px) {
.container {
	width: 800px;
}
}

@media (max-width: 991px) {
.container {
	width: 720px;
}
}

@media (max-width: 767px) {
.container {
	padding-left: 15px;
	padding-right: 15px;
}
}

/*site */

@media (max-width: 1199px) {

}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
body {
	background-size: 25%;
}
.mob-show {
	display: block;
}
.desktop-show {
	display: none;
}
.wrpper.app-wrapper {
	position: relative;
	bottom: 0;
}
.text-cont {
	position: relative;
	margin: 20px auto 0 auto;
	top: 0;
	left: 0;
}
.animate-area {
	position: relative;
	max-width: 500px;
	margin: 0 auto;
}
.flush {
	bottom: 0;
	width: 51%;
	text-align: center;
}
.ak {
	float: right;
	position: static;
	width: 52%;
}
.action-flush.mob-show {
  bottom: inherit;
  display: inline-block;
  height: 85px;
  left: 0;
  position: relative;
  top: -15px;
  width: 180px;
	overflow: hidden;
}
.counter-cont {
  margin: 30px auto;
  max-width: 500px;
  position: static;
  text-align: center;
  width: auto;
}
	
	.total-flush{
		position: static;
		color: #BEE5DF;
	}
	
.footer-bg {
  bottom: 0;
  display: block;
  height: 270px;
  margin-top: -270px;
  position: relative;
}
	
	.footer-bg::after{
		height: 50px;
	}
.taoal {
	display: none;
}
	
	.total-flush h4 {
  font-size: 60px;
  line-height: 80%;
}
	
	.total-flush h5 {
  font-size: 26px;
  line-height: 100%;
}
	
}

@media (max-width: 575px) {
	.footer-bg {
  height: 224px;
  margin-top: -224px;
}
	
	.logo{
		width: 35px;
	}
}


