@charset "utf-8";
body {
	font-family: 'Luckiest Guy', cursive;
	font-size: 15px;
	color: #000;
	overflow-x: hidden;
	background: url(../images/bg.png) repeat #bee5df;
}

p {
	line-height: 130%;
	margin-bottom: 25px;
	font-style: italic;
}
a {
	text-decoration: none;
	outline: none;
	color: #333;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	font-family: 'Luckiest Guy', cursive;
	font-size: 100%;
}

/*-- Website CSS --*/
.footer-bg{
	position: fixed;
	width: 100%;
	height: 190px;
	background: #829ca8;
	bottom: 0;
	
}

.footer-bg::after{
	height: 60px;
	width: 100%;
	background: #54747f;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	display: block;
}
.app-wrapper{
	position: fixed;
	width: 100%;
	background: rgba(0,0,0,0);
	bottom: 50px;
	left: 0;
	z-index: 100;
}
.flush{
	max-width: 240px;
	position: absolute;
	bottom: 0;
	z-index: 110;
}
.ak {
  bottom: 10px;
  left: 194px;
  position: absolute;
  width: 260px;
  z-index: 120;
}
.text-cont {
  bottom: 390px;
  left: 20px;
  position: absolute;
  width: 220px;
}

.change-text{
	position: absolute;
	color: #54747f;
	left: 0;
	text-align: center;
	font-size: 18px;
	line-height: 130%;
	padding: 0px 30px 0px 30px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.change-text span{
	display: none;
}

.change-text span.is-show{
	display: block;
}


.start-text-cont {
  background: #f4840b none repeat scroll 0 0;
  border: 5px solid #fbb03b;
  border-radius: 100%;
  height: 140px;
  position: relative;
  width: 240px;
	margin: 0 auto;
}

.start-text{
	text-align: center;
	color: #fff;
	font-size: 20px;
	line-height: 130%;
	padding: 10px 15px 0px 15px;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}


.counter-cont{
	position: absolute;
	bottom: 286px;
	right: 0;
	width: 185px;
}
.taoal{
	z-index: 100;
}

.action-flush {
  background: #f50003 none repeat scroll 0 0;
  border-radius: 5px;
  text-align: center;
  color: #bee5df;
  text-transform: uppercase;
	position: absolute;
	top: 140px;
	width: 100%;
	padding: 10px 0px 0px 0px;
	z-index: 1000;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	overflow: hidden;
}

.action-flush:hover{
	color: #fff;
}
.action-flush h3 {
 
  font-size: 23px;
  line-height: 100%;
  margin-bottom: 4px;
}
.action-flush h2 {
 
  font-size: 58px;
  line-height: 85%;
}

.total-flush{
	position: absolute;
	top: 250px;
	text-align: center;
	color: #f50003;
	width: 100%;
}

.total-flush h4{
	font-size: 44px;
	line-height: 80%;
}

.total-flush h5{
	font-size: 23px;
	line-height: 100%;
}


.mob-show{
	display: none;
}

.logo {
  left: 15px;
  position: absolute;
  top: 15px;
  width: 40px;
	z-index: 1000;
}



/*social*/

.social {
	position: fixed;
	top: 15px;
	right: 15px;
	width: 30px;
	z-index: 9999;
	display: block;
	text-align: center;
}
.social-back {
	width: 30px;
	height: 30px;
	margin-bottom: 8px;
	cursor: pointer;
}
.social-icons {
	display: none;
}
.social-icons.show {
	display: block;
}
.social-icons .facebook, .social-icons .twitter, .social-icons .copyright {
	width: 30px;
	height: 30px;
	margin-bottom: 8px;
	display: inline-block;
}
.social img {
	width: 100%;
}

.ak-hide{
	display: none;
}
.ak-show{
	display: block;
}

.overlay-screen{
	position: fixed;
	width: 100%;
	height: 100%;
	display: block;
	background: rgba(0,0,0,0.8);
	z-index: 9999;
	text-align: center;
}

.start-container{
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.start-p {
  color: #fff;
  display: inline-block;
  font-size: 17px;
  margin: 20px 0;
  max-width: 500px;
  padding: 0 15px;
}

.btn-start {
  background: #f50003 none repeat scroll 0 0;
  border-radius: 5px;
  color: #BEE5DF;
  display: inline-block;
  font-size: 30px;
  line-height: 100%;
  padding: 15px 20px 5px;
}

.btn-start:hover{
	color: #fff;
}


