@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Anton');

@font-face {
    font-family: 'trashhandregular';
    src: url('../fonts/trashhand-webfont.woff2') format('woff2'),
         url('../fonts/trashhand-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'coolveticaregular';
	src: url('../fonts/coolvetica_rg-webfont.woff2') format('woff2'), 
		url('../fonts/coolvetica_rg-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


html, body {
	height: 100%;
}
body {
/*	font-family: "Roboto", sans-serif;*/
	font-family: 'coolveticaregular';
	font-size: 16px;
	font-weight: 400;
	color: #686868;
	overflow-x: hidden;
	background: #fecc00;
}
strong {
	font-weight: 500;
}
p {
	line-height: 160%;
	margin-bottom: 10px;
}
a {
	text-decoration: none;
	outline: none;
	color: #686868;
}
*, *:focus {
	outline: none;
}
button, a {
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-weight: 400;
	font-size: 100%;
	font-family: 'coolveticaregular';

}
/*Start Web site CSS*/

.logo {
  display: block;
  left: 15px;
  position: absolute;
  top: 15px;
  width: 50px;
  z-index: 9999;
}

.app-wrapper{
	padding: 0px 0px 0px 0px;
}
.start-screen {
	width: 800px;
	height: 601px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -400px;
	margin-top: -300px;
}

.quiz-headline-text{
	width:45%;
	float: right;
	padding-top: 150px;
}

.quiz-items{
	width: 50%;
	float: left;
}

.quiz-item {
	display: none;
}
.quiz-item.is-show {
	display: block;
}

.quiz-item h2 {
  color: #561d47;
  font-size: 25px;
  line-height: 100%;
  margin: 15px 0 0;
}



.quiz-item .quiz-img {
	display: block;
	margin-top: 10px;
}

.quiz-ans{
	margin-top:10px;
}



.quiz-ans li {
  background: #e5ac0a none repeat scroll 0 0;
  color: #fff;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 100%;
  height: 75px;
  line-height: 115%;
  margin: 0 1% 10px;
  padding: 10px;
  text-align: left;
  transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
  width: 48%;
}



.quiz-ans li  span{
	display: none;
}
.quiz-ans li:hover {
background: #8B26C2;
	color: #FECC00;
}
.points {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 99;
	width: 60px;
	height: 60px;
	background: #561D47;
	color: #fff;
	border-radius: 100%;
	line-height: 60px;
	font-size: 30px;
	text-align: center;
	font-weight: 600;
	display: none;
}

.container.ans-container {
  
}

.container.ans-container ul{
	
	background: #561d47 none repeat scroll 0 0;
  color: #fff;
  padding: 30px;
  text-align: center;
}


.container.ans-container h3 {
  color: #fff;
  font-size: 30px;
  margin-bottom: 10px;
	line-height: 130%;
}




.ans-container ul li {
	display: none;
}
.ans-1.is-result, .ans-2.is-result, .ans-3.is-result, .ans-4.is-result, .ans-5.is-result {
	display: block;
}


.btn-start{
	position: absolute; 
	background: #fff;
	display: inline-block;
	color: #561D47;
	bottom: 20%;
	left: 50%;
	z-index: 999;
	padding: 13px 0 11px 0px;
	font-size: 30px;
	width: 160px;
	line-height: 100%;
	margin-left: -80px;
	text-align: center;
	text-transform: uppercase;
}
.btn-start:hover{
	background: #8B17C5;
	color: #fff;
}


